@import '../Reusable.scss';

@mixin fontA {
    font-family: Sinhala MN;
    font-size: 14pt;
    line-height: normal;
}

.brownie-interaction-container {
    width: 100%;
    height: 100%;
    position: relative;

    .instruction-image {
        @include transform(translate(-50%, -35%));
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-bottom: 0;
    }

    .dialogue {
        line-height: 0.9vh;
    }

    .test {
        cursor: default;
    }

    .right-section {
        justify-content: center;
        align-items: center;
        display: grid;
        text-align: center;
        padding-right: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "dialogue1 dialogue2 dialogue3 dialogue4"
            "dialogue5 dialogue5 dialogue5 dialogue5 .";

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        width: 68%;
        aspect-ratio: 1423 / 1063;
    }

    .content-container {
        width: 105%;
    }

}

.brownie-interaction-container:after {
    content: "";
    display: table;
    clear: both;
}

.ripple-container {
    @include transform(translateX(-55%));
    height: 28vh;
    aspect-ratio: 4/3;
    position: absolute;
    left: 50%;
    top: 5%;

    .leftBox-img {
        @include transform(translateX(-50%));
        position: absolute;
        left: 58%;
        top: 15%;
    }
}


.leftBox {
    width: 35vw;
    height: 100vh;
}

.leftBox-img {
    background-repeat: no-repeat;
}

.leftBox-img .canvas {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.dialogue1 {
    position: absolute;
    top: 10%;
    left: 7%;
    aspect-ratio: 357 / 663;
    max-width: 90%;
    height: 60%;
    grid-area: dialogue1;
}

.dialogue2 {
    position: absolute;
    top: 6%;
    left: 28.5%;
    aspect-ratio: 357 / 663;
    max-width: 90%;
    max-height: 90%;
    grid-area: dialogue2;
}

.dialogue3 {
    position: absolute;
    top: 19%;
    left: 51.5%;
    aspect-ratio: 357 / 663;
    max-width: 90%;
    max-height: 90%;
    grid-area: dialogue3;
}

.dialogue4 {
    position: absolute;
    top: 12%;
    left: 75%;
    aspect-ratio: 357 / 663;
    max-width: 90%;
    max-height: 90%;
    width: 25%;
    grid-area: dialogue4;
}

.dialogue5 {
    position: absolute;
    bottom: 1%;
    left: 6%;
    max-height: 30%;
    grid-area: dialogue5;
}

.rightBox-text {
    @include transform(translate(-50%, -50%));
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 95%;
}

.rightBox-text .canvas {
    position: fixed;
    left:0;
    top:0;
}

.rightBox-text .dialogue1 .canvas {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    content: "hello hello hello";
}

.text1-container {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

/*.brownie-interaction-container {
    .right-section {
        justify-content: center;
        align-items: center;
        display: grid;
        text-align: center;
        padding-right: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "dialogue1 dialogue2 dialogue3 dialogue4"
            "dialogue5 dialogue5 dialogue5 dialogue5 .";

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        width: 68%;
        aspect-ratio: 1423 / 1063;
    }

    .content-container {
        width: 105%;
    }
}*/

