@import './Reusable.scss';

.about-container {
    height: 100vh;

    .content {
        @include transform(translate(-50%, -50%));
        max-height: 90%;
        width: 95%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/About/Cookie_Tray.png');
        position: relative;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 481;
        display: grid;
        grid-template-rows: 1fr 1fr 3fr 3fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
        /*grid-template-areas: ". . . . ."
                            ". . . line1 line1"
                            ". dine dine dine . "
                            ". line2 line2 . ."
                            ". . . line3 line3"
                            "inquire inquire . line4 line4 ."
                            ". . . . .";*/
    }

    .line1, .dine, .line2, .line3, .inquire, .line4, .email, .insta {
        position: relative;
    }

    .line1 p, .dine h2, .line2 p, .line3 p, .inquire p, .line4 p, .email p, .insta p {
        position: absolute;
    }

    .line1 {
        grid-row: 2;
        grid-column: 3/5;
    }

    .line1 p {
        top: 50%;
        right: 0;
    }

    .dine {
        grid-row: 3;
        grid-column: 2/5;
    }

    .dine h2 {
        @include transform(translate(-50%, -50%));
        top: 50%;
        left: 50%;
    }

    .line2 {
        grid-row: 4;
        grid-column: 2/3;
    }

    .line2 p {
        right: 5%;
        text-align: left;
    }

    .bullets {
        grid-row: 4;
        grid-column: 3/4;
    }

    .bullets p {
        text-align: left;
    }

    .bullet {
        text-decoration: line-through;
    }

    .line3 {
        grid-row: 5;
        grid-column: 3/5;
    }

    .line3 p {
        text-align: left;
        left: 10%;
    }

    .line3.second p {
        @include transform(translate(-50%, -50%));
        left: 50%;
        top: 50%;
        text-align: right;
    }

    .inquire {
        grid-row: 6;
        grid-column: 2/3;
    }

    .line4 {
        grid-row: 6;
        grid-column: 3/5;
    }

    .line4 p {
        right: 40%;
    }

    .email, .insta {
        grid-row: 6;
        grid-column: 2/4;
    }

    .email p {
        bottom: 50%;
        left: 15%;
    }

    .insta p {
        bottom: 15%;
        left: 25%;
    }

    .copyright {
        position: absolute;
        bottom: 2%;
        left: 2%;
    }

}