@import './Reusable.scss';

/*@mixin Avenir {
    @include tracking(40);
    font-family: Avenir Next Condensed, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: black;
    line-height: 3vh;
}*/

// PART 1 -- Consistent style for tray across all pages

.about-container {
    height: 100vh;

    .tray {
        @include transform(translate(-50%, -50%));
        max-height: 85%;
        max-width: 95%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/About/Cookie_Tray.png');
        position: relative;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 461;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 12fr;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    }
    
    .line1 {
        @include Avenir;
        position: relative;
        grid-row: 2;
        grid-column: 3/5;
    }
    
    .line1 p {
        position: absolute;
        top: 50%;
        right: 0;
    }

    .dropdown-container {
        grid-row: 3/5;
        grid-column: 4/5;
    }

    .dropdown {
        right: 0;
        text-align: right;
        position: relative;
    }
    
    .dropbtn {
        @include Avenir;
        font-weight: 600;
        font-style: normal;
        color: white;
        background-color: black;
        margin-top: 0.8em;
        width: 40%;
        border: none;
        position: relative;
    }
    
    .dropdown-content {
        @include Sinhala;
        @include tracking(140);
        display: none;
        right: 0;
        width: 40%;
        //min-width: 80px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239B9797FF' stroke-width='4' stroke-dasharray='9%2c 16' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
        position: absolute;
        background-color: white;
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        position: relative;
    }
    
    .dropdown-content a:hover{
        background-color: lightgrey;
    }

    .dropdown-content:hover {
        display: block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .copyright {
        @include Avenir;
        @include tracking(60);
        position: absolute;
        bottom: 2%;
        left: 2%;
    }

}

// PART 2 -- Style for Dine with Me content

.dine-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    /*@include transform(translate(-50%, -50%));
    max-height: 100%;
    max-width: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/About/Cookie_Tray.png');
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 856 / 461;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 12fr 1fr;*/

    .content {
        @include transform(translate(-50%, -50%));
        grid-row: 2;
        grid-column: 2;
        position: relative;
        max-height: 85%;
        max-width: 95%;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 461;
        display: grid;
        grid-template-rows: 1fr 1fr 3fr 3fr 1fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    }

    .dine, .line2, .line3, .inquire, .line4, .email, .insta, .bullets {
        position: relative;
    }

    .dine h2, .line2 p, .line3 p, .inquire p, .line4 p, .email p, .insta p, .bullets p {
        position: absolute;
    }

    .dine {
        @include Nautica;
        @include tracking(140);
        grid-row: 3;
        grid-column: 2/7;
    }

    .dine h2 {
        @include transform(translate(-50%, -50%));
        left: 50%;
        top: 50%;
    }

    .line2 {
        @include Sinhala;
        grid-row: 4;
        grid-column: 2/4;
        line-height: 1.75;
    }

    .line2 p {
        right: 10%;;
        text-align: left;
    }

    .bullets {
        @include Sinhala;
        line-height: 1.75;
        grid-row: 4;
        grid-column: 4/6;
    }

    .bullets p {
        text-align: left;
        left: -5%;
    }

    .bullet {
        text-decoration: line-through;
    }

    .line3 {
        @include Sinhala;
        grid-row: 6;
        grid-column: 4/6;
    }

    .line3 p {
        text-align: left;
        left: 10%;
        top: 10%;
    }

    .line3.second p {
        @include Sinhala;
        @include transform(translateY(-50%));
        left: 15%;
        top: 50%;
        text-align: right;
        width: 90%;
    }

    .line4 {
        @include Sinhala;
        grid-row: 7;
        grid-column: 5/6;
    }

    .line4 p {
        top: 10%;
        right: 40%;
    }

    .inquire {
        @include Sinhala;
        grid-row: 7;
        grid-column: 2/4;
        top: 20%;
        left: 5%;
    }

    .email, .insta {
        @include Sinhala;
        grid-row: 7;
        grid-column: 3/5;
    }

    .email p {
        @include Sinhala;
        top: 45%;
        left: -10%;
    }

    .insta p {
        @include Sinhala;
        top: 70%;
        left: 5%;
    }
}

// PART 3 -- Style for Andy content

.andy-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;


    .content {
        @include transform(translate(-50%, -50%));
        grid-row: 2;
        grid-column: 2;
        position: relative;
        max-height: 85%;
        max-width: 95%;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 461;
        display: grid;
        grid-template-rows: 1fr 1fr 4fr 2fr 1fr 2fr 2fr 1fr; //2.5fr 3.5fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    }

    .name, .line2, .info1, .inquire, .info2, .email, .insta {
        position: relative;
    }

    .name h2, .line2 p, .info1 p, .inquire p, .info2 p, .email p, .insta p {
        position: absolute;
    }

    .name {
        grid-row: 3;
        grid-column: 2/7;
    }

    .name h2 {
        @include nameFont;
        @include transform(translate(-50%, -50%));
        @include tracking(80);
        line-height: 1.2;
        left: 50%;
        top: 40%;
        color: #63a1d0;
    }

    .line2 {
        grid-row: 3;
        grid-column: 3/6;
    }

    .line2 p {
        @include Avenir;
        @include tracking(0);
        @include transform(translateX(-50%));
        line-height: 1.2;
        left: 50%;
        top: 55%;
        text-align: center;
    }

    .info1 {
        grid-row: 4;
        grid-column: 2/6;
    }

    .info1 p {
        @include Sinhala;
        @include tracking(0);
        @include transform(translateX(-70%));
        line-height: 1.75;
        text-align: justify;
        text-align-last: justify;
        text-align: left;
        text-justify: inter-character;
        left: 50%;
    }

    .info2 {
        grid-area: 6;
        grid-column: 4/6;
    }

    .info2 p {
        @include Sinhala;
        @include tracking(0);
        line-height: 1.75;
        text-align: justify;
        text-align-last: justify;
        text-align: left;
        text-justify: inter-character;
        top: -25%;
        left: -18%;
    }

    .image {
        grid-row: 6/8;
        grid-column: 5/7;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/About/Cookie_Body.png');
        height: 80%;
    }

    .inquire {
        @include Sinhala;
        grid-row: 7;
        grid-column: 2/4;
        top: 20%;
        left: 5%;
    }

    .email, .insta {
        @include Sinhala;
        grid-row: 7;
        grid-column: 3/5;
    }

    .email p {
        @include Sinhala;
        top: 45%;
        left: -10%;
    }

    .insta p {
        @include Sinhala;
        top: 70%;
        left: 5%;
    }
}

// PART 4 -- Style for Louisa content

.loui-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;


    .content {
        @include transform(translate(-50%, -50%));
        grid-row: 2;
        grid-column: 2;
        position: relative;
        max-height: 85%;
        max-width: 95%;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 461;
        display: grid;
        grid-template-rows: 1fr 1fr 4fr 2fr 1fr 2fr 2fr 1fr; //2.5fr 3.5fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    }

    .name, .line2, .info1, .inquire, .info2, .email, .insta {
        position: relative;
    }

    .name h2, .line2 p, .info1 p, .inquire p, .info2 p, .email p, .insta p {
        position: absolute;
    }

    .name {
        grid-row: 3;
        grid-column: 2/7;
    }

    .name h2 {
        @include nameFont;
        @include transform(translate(-50%, -50%));
        @include tracking(80);
        line-height: 1.2;
        left: 50%;
        top: 40%;
        color:  #f3a7b1;
    }

    .line2 {
        grid-row: 3;
        grid-column: 3/6;
    }

    .line2 p {
        @include Avenir;
        @include tracking(0);
        @include transform(translateX(-50%));
        line-height: 1.2;
        left: 50%;
        top: 55%;
        text-align: center;
    }

    .info1 {
        grid-row: 4;
        grid-column: 2/6;
    }

    .info1 p {
        @include Sinhala;
        @include tracking(0);
        @include transform(translateX(-70%));
        line-height: 1.75;
        text-align: justify;
        text-align-last: justify;
        text-align: left;
        text-justify: inter-character;
        left: 50%;
    }

    .info2 {
        grid-area: 6;
        grid-column: 4/6;
    }

    .info2 p {
        @include Sinhala;
        @include tracking(0);
        line-height: 1.75;
        text-align: justify;
        text-align-last: justify;
        text-align: left;
        text-justify: inter-character;
        top: -25%;
        left: -18%;
    }

    .image {
        grid-row: 6/8;
        grid-column: 5/7;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/About/Cookie_Body.png');
        height: 80%;
    }

    .inquire {
        @include Sinhala;
        grid-row: 7;
        grid-column: 2/4;
        top: 20%;
        left: 5%;
    }

    .email, .insta {
        @include Sinhala;
        grid-row: 7;
        grid-column: 3/5;
    }

    .email p {
        @include Sinhala;
        top: 45%;
        left: -10%;
    }

    .insta p {
        @include Sinhala;
        top: 70%;
        left: 5%;
    }
}

// PART 4 -- Style for Louisa content

.beta-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;


    .content {
        @include transform(translate(-50%, -50%));
        grid-row: 2;
        grid-column: 2;
        position: relative;
        max-height: 85%;
        max-width: 95%;
        top: 50%;
        left: 50%;
        aspect-ratio: 856 / 461;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr 4fr 2fr 1fr 2fr 1fr; //2.5fr 3.5fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 1fr;
    }

    .name, .line2, .info1 {
        position: relative;
    }

    .name h2, .line2 p, .info1 p {
        position: absolute;
    }

    .name {
        grid-row: 4;
        grid-column: 2/7;
    }

    .name h2 {
        @include nameFont;
        @include transform(translate(-50%, -50%));
        @include tracking(80);
        line-height: 1.2;
        left: 50%;
        top: 40%;
        color: #998cbc;
    }

    .line2 {
        grid-row: 4;
        grid-column: 3/6;
    }

    .line2 p {
        @include Avenir;
        @include tracking(0);
        @include transform(translateX(-50%));
        line-height: 1.2;
        left: 50%;
        top: 55%;
        text-align: center;
    }

    .info1 {
        grid-row: 5;
        grid-column: 3/6;
    }

    .info1 p {
        @include Sinhala;
        @include tracking(0);
        @include transform(translateX(-50%));
        line-height: 1.4;
        text-align: justify;
        text-align-last: justify;
        text-align: left;
        text-justify: inter-character;
        left: 50%;
        width: 65%;
        top: -25%;
    }

    .brown, .grey, .white, .black, .yellow, .green, .pink {
        height: 8vh;
        position: relative;
    }

    .brown {
        grid-row: 6;
        grid-column: 3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie1.png');
        left: 70%;
        top: 70%;
    }

    .grey {
        grid-row: 2;
        grid-column: 2;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie2.png');
        left: 10%;
        top: 70%;
    }

    .white {
        grid-row: 3;
        grid-column: 3;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie3.png');
        top: 80%;
        left: 10%;
    }

    .black {
        grid-row: 6;
        grid-column: 2;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie4.png');
        left: 50%;
    }

    .yellow {
        grid-row: 6;
        grid-column: 5;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie5.png');
    }

    .green {
        grid-row: 4;
        grid-column: 6;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie6.png');
        top: 60%;
    }

    .pink {
        grid-row: 3;
        grid-column: 5;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/Soft/Soft_Cookie7.png');
        top: 30%;
        left: -25%;
    }
}