@import './Reusable.scss';

//General page styles

@mixin fontA {
    font-family: "arbotek", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8vh;
    font-weight: semi-bold;
    letter-spacing: 0.192vh;
}

@mixin fontB {
    font-family: Minion Pro, serif;
    font-weight: semi-bold;
    font-style: italic;
}

* { //maybe need class name and not *
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

.accept-cookies-page {
    height: 100vh;
    width: 100vw;
    @include fontB;
}

.accept-cookies-page .arbotek {
    text-decoration: none;
    color: black;
}

.accept-cookies-page .decline {
    text-decoration: none;
    color: black;
}

body {
    text-align: center;
    position: relative;
}

.cookietext, .accept, .decline, .cookie-explanation, .dot, .x {
    transition-property: opacity;
    transition-duration: 2.5s;
}

//Accept and decline buttons styling

.accept div, .decline div {
    font-size: 10vw;
}

.accept {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 45%;
    left: 37%;
    width: 15vw;
    max-width: 200px;
    cursor: pointer;
}

.decline {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 45%;
    left: 67%;
    width: 15vw;
    cursor: pointer;
}

.arbotek {
    @include fontA;
    font-style: normal;
    position: relative;
    margin-right: 4vw;
}

.arbotek.yes {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}

.arbotek.no {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.accept .arbotek .minion-small {
    @include fontB;
    font-size: 3vh;
    position: relative;
    top: 0.75rem;
    left: -1rem;
}

.accept .arbotek .minion-small:nth-child(2) {
    @include fontB;
    font-size: 3vh;
    position: relative;
    top: 1.75rem;
    left: -1rem;
}

/*.accept .arbotek .minion-small:first-child {
    @include fontB;
    font-size: 3vh;
    position: absolute;
    top: 0;
    padding-top: 4vh;
    left: 0;
    padding-left: 12.5vw;
}

.accept .arbotek .minion-small:nth-child(2) {
    @include fontB;
    font-size: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6vh;
    padding-left: 14vw;
}*/

.decline .arbotek .minion-small:first-child {
    @include fontB;
    font-size: 3vh;
    position: relative;
    top: 98%;
    left: -1rem;
}

//Page text and dot styling

.cookietext {
    @include fontB;
    @include transform(translate(-50%, -50%));
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: absolute;
    top: 20%;
    left: 50%;
}

.cookie-explanation {
    @include transform(translate(-50%, -50%));
    text-align: center;
    position: absolute;
    top: 75%;
    left: 28%;
    width: 35vw;
}

.x {
    @include fontA;
    @include transform(translate(-50%, -50%));
    font-size: 1.75rem;
    position: absolute;
    top: 75%;
    right: 20%;
}

.dot {
    @include transform(translate(-50%, -50%));
    border-radius: 50%;
    background-color: black;
    height: 19px;
    width: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.accept-cookies-page button {
    @include transform(translate(-50%, -50%));
    background-color: black;
    color: transparent;
    border: none;
    width: 100px;
    height: 100px;
    z-index: 14;
    margin-top: 50vh;
    display: transparent;
}

.accept-cookies-page button:hover, .accept-cookies-page span:hover {
    display: inline;
    color: white;
}

.splash {
    text-align: center;
    //background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: none;
}

.accept-cookies-page .text {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-family: "Roboto", Arial, sans-serif;
    font-size: calc(20px + 2vw);
    font-weight: 700;
    //pointer-events: none;
    //user-select: none;
    white-space: nowrap;
    margin-top: 10vh;
}

.accept-cookies-page button {
    position: absolute;
}