@mixin fontA {
    font-family: Sinhala MN;
    font-size: 14pt;
    line-height: normal;
}

.brownie-interaction-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.brownie-interaction-container:after {
    content: "";
    display: table;
    clear: both;
}


.ripple-container {
    //left: 60%;
    //top: 18vh;
    //transform: translateX(-50%);
    //width: 15vw;
    //height: auto;
    //position: absolute;
    height: 28vh;
    aspect-ratio: 4/3;
    position: absolute;
}

.brownie-interaction-container .test {
    cursor: default;
}

.brownie-interaction-container .dialogue {
    max-height: 20vh;
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    //width: 17vw;
    //left: 50%;
    //transform: translateX(-50%);
    //top: 70%;
    //height: 20vh;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}

.ripple-container .leftBox-img {
    position: absolute;
    left: 56%;
    top: 15%;
    transform: translateX(-50%);
}

.leftBox {
    width: 35vw;
    height: 100vh;
}

.leftBox-img {
    /*box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;*/
    //background-size: contain;
    background-repeat: no-repeat;
    //left: 55%;
    //transform: translateX(-50%);
    //top: 10vh;
}

.leftBox-img .canvas {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.rightBox {
    position: relative;
    width: 60%;
    align-self: center;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightBox img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  
}

.rightBox-text {
    position: absolute;
    top: 30%;
    left: 20%;
}

.dialogue1 {
    position: absolute;
    top: 10%;
    left: 10%;
    aspect-ratio: 357 / 663;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
}


/*.leftBox {
    position: absolute;
    height: 80vh;
    left: 5vw;
    top: 10vh;
    bottom: 10vh;
    aspect-ratio: 457 / 778;
}

.leftBox-img {
    position: absolute;
    left: 20%;
    top: 15%;
    z-index: 20;
}

.leftBox-img canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100vw;
    top: 100vh;
    bottom: 10vh;
    z-index: 20;
}

.leftBox img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    max-height: 20vh;
    max-height: 20vh;
    width: auto;
    cursor: pointer;
}

.leftBox .dialogue {
    @include fontA;
    position: absolute;
    color: white;
    max-height: 20vh;
    width: 17vw;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
}


.rightBox {
    position: relative;
    display: inline-block;
    top: 50%;
    right: 50%;
    transform: translate(-10%, -50%);
    right: 0;
}

.rightBox img {

    max-width: 60vw;
    top: 0;
    right: 0;
    z-index: 5;
    display: inline-block;
}


.rightBox-text {
    position: absolute;
    height: 200px;
    width: 100%;
    left: 50vw;
    top: 50vh;
    bottom: 10vh;

    z-index: 20;
}*/

//test
