@import './Reusable.scss';

.chess-interaction-container {

    //width: 100%;
    //height: 100%;
    //position: relative;

    /*.instructionBox {
        @include transform(translateY(-50%));
        position: absolute;
        height: 97%;
        width: auto;
        max-width: 40%;
        min-width: 100px;
        left: 0;
        top: 50%;
        aspect-ratio: 457/778;
        cursor: auto;
    }

    .instructionBox .dialogue {
        color: white;
        white-space: pre-line;
        max-height: 25%;
        padding: 2%;
        padding-left: 2%;
        padding-right: 2%;
        top: 2%;
        position: relative;
        aspect-ratio: 753 / 457;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  
    }
    
    .right-section {
        @include Sinhala;
        @include transform(translateY(-50%));
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0;
        top: 50%;
        
        display: grid;
        grid-template-columns: 48%;
        grid-template-rows: auto;
        grid-template-areas: "thoughts board";
    }*/

    .content-container {
        width: 100%;
        display: grid;
        grid-template-columns: 48%;
        grid-template-rows: auto;
        grid-template-areas: "thoughts board";
    }

    .thoughts {
        position: relative;
        z-index: 20;
        grid-area: thoughts;
        max-height: 90vh;
        height: 100%;
        display: grid;
        grid-template-rows: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
        grid-template-areas:
            "thought-h8"
            "thought-b4"
            "thought-a5"
            "thought-f8"
            "thought-h1"
            "thought-d6"
            "thought-f2";
    }

    .thought {
        grid-area: thoughts;
        visibility: hidden;
        width: 75%;
        aspect-ratio: 774/333;
        background-size: contain;
        background-repeat: no-repeat;
        //background-position: center;
    }

    .thought p {
        @include transform(translate(-50%, -50%));
        position: relative;
        top: 50%;
        left: 50%;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #thought-h8.thought {
        @include transform(translateX(-5%));
        grid-area: thought-h8;
    }

    #thought-b4 {
        grid-area: thought-b4;
        position: relative;
        right: -30%;
    }

    #thought-a5 {
        grid-area: thought-a5;
        position: relative;
        left: -20%;
        top: -50%;
    }

    #thought-f8 {
        grid-area: thought-f8;
        position: relative;
        top: -25%;
        right: -10%;
    }

    #thought-h1 {
        grid-area: thought-h1;
        position: relative;
        top: -35%;
        left: -10%;
    }

    #thought-d6 {
        grid-area: thought-d6;
        position: relative;
        top: -44%;
        right: -15%;
    }

    #thought-f2 {
        grid-area: thought-f2;
        position: relative;
        top: -48%;
        left: -15%;
    }

    .board {
        @include transform(translateY(-50%));
        aspect-ratio: 597 / 781;
        grid-area: board;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        width: 100%;
        top: 50%;
    }

    .piece-container {
        height: 100%;
        //aspect-ratio: 597 / 781;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2.55fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.4fr;
        grid-template-areas:
            ". . . . . . . . . ."
            ". . . . . . f8 . h8 ."
            ". . . . . . . . . ."
            ". . . d6 . . . . . ."
            ". a5 . . . . . . . ."
            ". . b4 . . . . . . ."
            ". . . . . . . . . ."
            ". . . . . . f2 . . ."
            ". . . . . . . . h1 ."
            ". . . . . . . . . ."
    }

    #h8 {
        grid-area: h8;
    }

    #f8 {
        grid-area: f8;
    }

    #d6 {
        grid-area: d6;
    }

    #a5 {
        grid-area: a5;
    }

    #b4 {
        grid-area: b4;
    }

    #f2 {
        grid-area: f2;
    }

    #h1 {
        grid-area: h1;
    }

    .circle, .square {
        cursor: pointer;
    }

    .circle:hover, .square:hover {
        filter: brightness(90%);
    }

    .circle {
        @include transform(translate(-50%, -50%));
        height: 55%;
        width: 55%;
        position: relative;
        background-color: grey;
        top: 50%;
        left: 50%;
        border-radius: 50%;
    }

    .square {
        @include transform(translate(-50%, -50%));
        height: 55%;
        width: 55%;
        position: relative;
        background-color: grey;
        top: 50%;
        left: 50%;
    }

    .thought.active {
        visibility: visible;
    }
}
