@import './Reusable.scss';


.cookie-container {
    @include nameFont;
    height: 100vh;
    width: 100vw;
    //background-color: grey;
    position: relative;
    //background-image: url('../img/Madeleine/Madeleine BG.png');
    background-size: cover;
    overflow-y: hidden;
}

/*.character-left-section {
    width: 33vw;
    height: 100vh;
}*/

/*.backarrow {
    height: 5.5vh;
    width: 5.5vh;
    margin-left: -2vh;
    top: 8vh;
    background-color: black;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 20;
}*/

.backarrow {
    height: 5vh;
    width: 5vh;
    //other styling puts it in upper corner again
    //top: 5vh;
    top: 5vh;
    left: 0.8vw;
    background-color: black;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 60;
}

.backarrow:hover {
    background-color: grey;
    border-color: grey;
}

.character-card {
    width: 28vw;
    background-color: white;
    min-height: 80vh;
    min-width: 200px;
    max-height: 90vh;
    max-width: 400px;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    bottom: 10vh;
    outline: 0.6vh double black;
    outline-offset: -2vh;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.character-card .profileImg {
    height: 26vh;
    z-index: 20;
    padding-top: 10vh;
    padding-bottom: 1vh;
}

.character-card .fullname {
    @include nameFont;
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);*/
    width: 20vw;
    //padding: 0.5vh;
    white-space: pre-line;

}

.character-card .description {
    @include ageFont;
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 100%);*/
    padding: 1vh;
    white-space: pre-line;
}

.madeleine-interaction-container {
    width: 28vw;
    //left: 5vw;;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


//For instructions img

.consumerBox {
    width: 28vw;
    min-height: 80vh;
    min-width: 200px;
    max-height: 90vh;
    max-width: 400px;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    bottom: 10vh;
    aspect-ratio: 457 / 778;
}

.instructionBox {
    position: absolute;
    width: 28vw;
    min-width: 200px;
    max-width: 400px;
    min-height: 80vh;
    //add height and make max-height px
    max-height: 90vh;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    //bottom: 10vh;
    aspect-ratio: 457/778;
    cursor: pointer;
}

/*.consumerBox img {
    height: 23vh;
    z-index: 20;
    padding-top: 50vh;
    //display: inline-block;
    margin: 0 auto;
    padding: 3px;
    display: table-cell; 
}*/

.test {
    @include instructionFont;
    width: 18vw;
    //height:30vh;  
    aspect-ratio: 753 / 457;
    display: table; 
    //display: inline-block;
    margin: 0 auto;
    //padding: 1vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //height: 28vh;
    margin-top: 57vh;
    text-align: center;
    max-width: 300px;
}

.consumerBox .dialogue {
    @include instructionFont;
    //position: absolute;
    color: white;
    max-height: 20vh;
    padding: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    //width: 17vw;
    //left: 50%;
    //transform: translateX(-50%);
    //top: 70%;
    //height: 20vh;

    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}

.consumerBox .dialogue#text {
    padding-left: 10vw;
}

/*.character-right-section {
    height: 100vh;
    width: 100vw;
    position: absolute;
}*/