@mixin nameFont {
    font-family: Chantal;
    font-weight: light;
    font-size: 3vh;
    letter-spacing: 0.1em;
    line-height: 2vh;
}

//Age font
@mixin ageFont {
    font-family: Sinhala MN, sans-serif;
    font-size: 2vh;
    line-height: 2vh;
    letter-spacing: 0.1em;
}

@mixin instructionFont {
    font-family: Sinhala MN, sans-serif;
    font-size: 1.5vh;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
}

.cookie-container {
    @include nameFont;
    height: 100vh;
    width: 100vw;
    //background-color: grey;
    position: relative;
    //background-image: url('../img/Madeleine/Madeleine BG.png');
    background-size: cover;
}

/*.character-left-section {
    width: 33vw;
    height: 100vh;
}*/

.character-card {
    width: 28vw;
    background-color: white;
    min-height: 80vh;
    min-width: 200px;
    max-height: 90vh;
    max-width: 400px;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    bottom: 10vh;
    outline: 0.6vh double black;
    outline-offset: -2vh;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.character-card .profileImg {
    height: 23vh;
    z-index: 20;
    padding-top: 10vh;
}

.character-card .fullname {
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);*/
    width: 20vw;
    padding: 2vh;
}

.character-card .description {
    @include ageFont;
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 100%);*/
    padding: 2vh;
    white-space: pre-line;
}

.madeleine-interaction-container {
    width: 28vw;
    //left: 5vw;;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


//For instructions img

.consumerBox {
    width: 28vw;
    min-height: 80vh;
    min-width: 200px;
    max-height: 90vh;
    max-width: 400px;
    position: absolute;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    bottom: 10vh;
    aspect-ratio: 457 / 778;
}

/*.consumerBox img {
    height: 23vh;
    z-index: 20;
    padding-top: 50vh;
    //display: inline-block;
    margin: 0 auto;
    padding: 3px;
    display: table-cell; 
}*/

.test {
    @include instructionFont;
    width:23vw;
    height:30vh;  
    display: table; 
    //display: inline-block;
    margin: 0 auto;
    padding: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //height: 28vh;
    margin-top: 50vh;
    text-align: center;
    cursor: pointer;
    max-width: 400px;
}

.consumerBox .dialogue {
    @include instructionFont;
    //position: absolute;
    color: white;
    max-height: 20vh;
    padding: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    //width: 17vw;
    //left: 50%;
    //transform: translateX(-50%);
    //top: 70%;
    //height: 20vh;

    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}
