@import './Reusable.scss';


.cookie-container {
    @include nameFont;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    overflow-y: hidden;

    .container-90 {
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 97%;
        //width: 85%; //alternative
        //height: 85%; //alternative
        height: 87%;
        aspect-ratio: 16/9;
        
        .content-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}

/*.character-left-section {
    width: 33vw;
    height: 100vh;
}*/

/*.backarrow {
    height: 5.5vh;
    width: 5.5vh;
    margin-left: -2vh;
    top: 8vh;
    background-color: black;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 20;
}*/

.backarrow {
    height: 5vh;
    width: 5vh;
    //other styling puts it in upper corner again
    top: 6%;
    left: 3.5%;
    background-color: black;
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 60;
}

.backarrow:hover {
    background-color: grey;
    border-color: grey;
}

.character-card {
    @include transform(translateY(-50%));
    //width: 30%;
    background-color: white;
    //min-height: 75%;
    //min-width: 350px;
    height: 95%;
    //max-height: 800px;
    max-width: 35%;
    min-width: 100px;
    position: absolute;
    //left: 5vw;
    left: 0;
    top: 50%;
    //bottom: 10vh;
    outline: 0.6vh double black;
    outline-offset: -2vh;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.character-card .profileImg {
    height: 26vh;
    z-index: 20;
    //padding-top: 10vh;
    padding-bottom: 1vh;
}

.character-card .fullname {
    @include nameFont;
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);*/
    width: 20vw;
    //padding: 0.5vh;
    white-space: pre-line;
    padding: 1vh;

}

.character-card .description {
    @include ageFont;
    /*position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, 100%);*/
    padding: 1vh;
    white-space: pre-line;
}

// I just took this out
/*.madeleine-interaction-container {
    width: 28vw;
    //left: 5vw;;
    aspect-ratio: 457 / 778;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/


//For instructions img

/*.consumerBox {
    @include transform(translateY(-50%));
    width: 28vw;
    min-height: 80vh;
    min-width: 200px;
    max-height: 90vh;
    max-width: 400px;
    position: absolute;
    left: 5vw;
    top: 50%;
    bottom: 10vh;
    aspect-ratio: 457 / 778;
}*/

/*.instructionBox {
    @include transform(translateY(-50%));
    position: relative;
    width: 28vw;
    min-width: 200px;
    max-width: 400px;
    min-height: 80vh;
    //add height and make max-height px
    max-height: 90vh;
    left: 5vw;
    top: 50%;
    //bottom: 10vh;
    aspect-ratio: 457/778;
    cursor: pointer;
}*/

.instructionBox {
    @include transform(translateY(-50%));
    position: absolute;
    height: 95%;
    width: auto;
    max-width: 40%;
    min-width: 100px;
    left: 0;
    top: 50%;
    aspect-ratio: 457/778;
    cursor: auto;
}

.right-section {
    @include Sinhala;
    @include transform(translateY(-50%));
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
    top: 50%;
}

.cookie-right-section {
    @include Sinhala;
    @include transform(translateY(-50%));
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
    top: 50%;
}

/*.consumerBox img {
    height: 23vh;
    z-index: 20;
    padding-top: 50vh;
    //display: inline-block;
    margin: 0 auto;
    padding: 3px;
    display: table-cell; 
}*/

.cookie-instruction-image, .instruction-image {
    @include instructionFont;
    //@include transform(translate(-50%, -50%));
    width: 18vw;
    min-width: 220px;
    max-width: 280px;
    aspect-ratio: 753 / 457;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    //position: absolute;
    //top: 80%;
    //left: 50%;
    //padding-bottom: 5vh;
    margin-bottom: 5vh;
}

.cookie-instruction-text, .instruction-text {
    display: table; 
    width: 100%;
    height: 100%;
}

.cookie-instruction-text .dialogue, .instructionBox .dialogue {
    font-weight: 600;
    color: white;
    white-space: pre-line;
    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
    margin: 2vh;
}

/*.consumerBox .dialogue {
    @include instructionFont;
    //position: absolute;
    color: white;
    max-height: 20vh;
    padding: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    //width: 17vw;
    //left: 50%;
    //transform: translateX(-50%);
    //top: 70%;
    //height: 20vh;

    text-align:center; 
    vertical-align: middle;
    display: table-cell;  
}

.consumerBox .dialogue#text {
    padding-left: 10vw;
}*/

/*.character-right-section {
    height: 100vh;
    width: 100vw;
    position: absolute;
}*/



/*.instructionBox {
    @include transform(translateY(-50%));
    position: absolute;
    height: 95%;
    width: auto;
    max-width: 40%;
    min-width: 100px;
    left: 0;
    top: 50%;
    aspect-ratio: 457/778;
    cursor: auto;
}

.right-section {
    @include Sinhala;
    @include transform(translateY(-50%));
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    top: 50%;
}*/