@import './Reusable.scss';

@mixin fontC {
    font-family: Sinhala MN;
    font-size: 1.8vh;
    letter-spacing: 2vw;
    color: black;
}

@mixin fontA {
    font-family: Sinhala MN;
    font-size: 8vw;
    color: black;
    letter-spacing: 4vw;
}

.definition-container {
    @include fontC;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 8% 8% 16% 8% 35%;
    grid-template-areas:
        ". . . ."
        ". . line1 ."
        ". line2 line2 ."
        "header header header header"
        "sidebar line4 line4 .";

    div {
        @include fontC;
        color: black;
    }

    .line1 {
        grid-area: line1;
        text-align: right;
    }

    .line2 {
        grid-area: line2;
        color: #a8a8a8!important;
        letter-spacing: 0.5vw!important;
        text-align: left;
    }

    .line3 {
        grid-area: header;
    }

    #coo, #kie {
        @include fontA;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    #coo {
        -ms-transform: translate(-50%, -50%);
        transform: translate(-110%, -60%);
    }
    
    #kie {
        -ms-transform: translate(-50%, -50%);
        transform: translate(30%, -60%);
    }

    .line4a {
        grid-area: sidebar;
        padding-top: 10%;
    }

    .line4b {
        grid-area: line4;
        text-align: left;
        padding-left: 10%;
        padding-top: 5%;
    }
    
    .dot {
        transition-property: opacity;
        transition-duration: 2.5s;
        animation: fadeIn ease-in 1.5s; //4.5s
    }

    .cookiedefinition {
        animation: fadeInDefinition ease-in 5s forwards;
        animation-delay: 1.5s;
        opacity: 0;
    }
    
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInDefinition {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
