@import './Reusable.scss';

@mixin interactionBoxFont {
    font-family: Sinhala MN, sans-serif;
    font-size: 0.9vw;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
}

.financier-interaction-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.financier-interaction-container {
    .instructionBox {
        position: absolute;
        width: 28vw;
        min-width: 200px;
        max-width: 400px;
        min-height: 80vh;
        //add height and make max-height px
        max-height: 90vh;
        left: 5vw;
        top: 50%;
        transform: translateY(-50%);
        //bottom: 10vh;
        aspect-ratio: 457/778;
        cursor: pointer;
    }

    .instructionBox .dialogue {
        color: white;
        max-height: 25vh;
        padding: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        //width: 17vw;
        //left: 50%;
        //transform: translateX(-50%);
        //top: 70%;
        //height: 20vh;
        aspect-ratio: 753 / 457;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  
    }
    
    .right-section {
        @include Sinhala;
        line-height: 1.85vh;
        position: absolute;
        width: 57vw;
        height: 100vh;
        right: 5vw;
        max-height: 90vh;
        top: 50%;
        transform: translateY(-50%);
        //bottom: 10vh;
        //apply grid to right-section
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
            "ten eleven twelve";
    }

    .financierBox {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 2vh;
        position: relative;
        white-space: pre-line;
    }

    #financier-0 {
        grid-area: one;
    }

    #financier-1 {
        grid-area: twelve;
    }

    .fin-dialogue {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    .dollar-sign {
        position: absolute;
        right: 0;
        top: 30%;
        opacity: 0;
        font-weight: semi-bold;
        font-size: 1.1vw;
    }

    .float {
        animation-name: float;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes float {
    0% { transform: translate(0,  0px); opacity: 100;}
    100%   { transform: translate(0, -20px); opacity: 0;}   
}