@import './Reusable.scss';

@mixin interactionBoxFont {
    font-family: Sinhala MN, sans-serif;
    font-size: 0.9vw;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
}

/*.financier-interaction-container {
    height: 90vh;
    width: 90vw;
    position: absolute;
    overflow: hidden;
}*/

.financier-interaction-container {
    .instructionBox {

        position: relative;
        

        .instruction-image {
            @include transform(translate(-50%, -35%)); //this is where you position it
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-bottom: 0;
            //margin-bottom: -3vh;
        }

        cursor: pointer;
        
    }
    
    .right-section {
        @include Sinhala;
        @include transform(translateY(-50%));
        font-size: 0.8vw;
        line-height: 1.85vh;
        width: 63%;
        //bottom: 10vh;
        //apply grid to right-section
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
            "ten eleven twelve";
    }

    .financierBox {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 2vh;
        position: relative;
        white-space: pre-line;
    }

    #financier-0 {
        grid-area: one;
    }

    #financier-1 {
        grid-area: twelve;
    }

    .fin-dialogue {
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        padding-top: 5%;
    }

    .dollar-sign {
        @include Sinhala;
        position: absolute;
        right: 0;
        top: 70%;
        opacity: 0;
        font-weight: semi-bold;
        font-size: 1.1vw;
    }

    .float {
        animation-name: float;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes float {
    0% { @include transform(translate(0,  0px)); opacity: 100;}
    100%   { @include transform(translate(0, -20px)); opacity: 0;}   
}