@import "./Reusable.scss";

.fortune-interaction-container {
    width: 100%;
    height: 100%;
    position: relative;

    .content-container {
        width: 105%;
    }
    
    .right-section {
        @include nameFont;
        width: 65%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas:
            ". . . ."
            ". number1 number1 ."
            ". . . ."
            ". number2 number2 ."
            ". . . .";
    }

    /*.right-section {
        position: absolute;
        width: 60vw;
        height: 90vh;
        right: 0;
        padding-right: 5%;
    }*/

    /*.grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas:
            "triangle . . rhombus"
            ". number1 number1 ."
            "circle . . heart"
            ". number2 number2 ."
            "pentagon . . square";
    }*/

    .grid-item {
        @include transform(translate(-50%, -50%));
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        top: 50%;
        left: 50%;
    }

    #fortune-triangle-container {
        grid-area: triangle;
    }

    #fortune-triangle-container > .fortune-paper,
    #fortune-rhombus-container > .fortune-paper,
    #fortune-circle-container > .fortune-paper,
    #fortune-heart-container > .fortune-paper,
    #fortune-pentagon-container > .fortune-paper,
    #fortune-square-container > .fortune-paper
    {
        position: absolute;
        z-index: -5;
    }

    #fortune-rhombus-container {
        grid-area: rhombus;
    }

    #fortune-rhombus-container .close,
    #fortune-circle-container .close,
    #fortune-pentagon-container .close,
    #fortune-square-container .close
    {
        @include transform(translateY(-40%));
    }

    #fortune-circle-container {
        grid-area: circle;
    }

    #fortune-heart-container {
        grid-area: heart;
    }

    #fortune-pentagon-container {
        grid-area: pentagon;
    }

    #fortune-square-container {
        grid-area: square;
    }

    #fortune-triangle {
        height: 6.589vw;
        width: 6.589vw;
        background-color: black;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
        color: white;
    }

    .close {
        position: relative;
        top: 50%;
        font-size: 5vh; 
        cursor: pointer;
    }

    .close:hover {
        position: relative;
        top: 50%;
        font-size: 5vh; 
        cursor: pointer;
        color: #da1f27;
    }


    #fortune-rhombus {
        height: 6.589vw;
        width: 6.589vw;
        background-color: black;
        //top: 50%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        color: white;
        //transform: translate(-50%, -50%);
        //transform: translate(-50%, -50%) rotate(-45deg);
    }

    #fortune-circle {
        height: 6.589vw;
        width: 6.589vw;
        background-color: black;
        border-radius: 50%;
        color: white;

    }

    #fortune-heart {
        height: 6.589vw;
        width: 6.589vw;
        background-image: url('../img/Fortune/Heart_Fortune.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    }

    #fortune-pentagon {
        color: white;
        height: 6.589vw;
        width: 6.589vw;
        background-color: black;
        clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    }

    #fortune-square {
        height: 6.589vw;
        width: 6.589vw;
        background-color: black;
        color: white;
    }

    #fortune-number1 {
        grid-area: number1;
        height: 9vh;
        width: 100%;
        //background-color: white;
    }

    #fortune-number2 {
        grid-area: number2;
        height: 9vh;
        width: 100%;
        //background-color: black;
    }

    .fortune-paper {
        //width: 40vh;
        width: 5vw;
        height: 7vh;
        background-color: white;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        cursor: pointer;
    }

    .left {
        left: 50%;
    }

    .right {
        right: 50%;
    }

    .fortune-paper {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .fortune-paper p {
        @include Sinhala;
        //visibility: hidden;
    }

    /*#fortune-number1 .flip-card-back {
        background-color: black !important;
    }*/

    #fortune-number1 .flip-card-back div {
        color: #da1f27 !important;
        font-weight: bold;
    }

    #fortune-number2 .flip-card-back {
        //background-color: white;
        color: black;
    }

    #fortune-number2 .flip-card-front div {
        color: #da1f27;
        font-weight: bold;
    }

    .fortune-paper p {
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        padding-left: 4vw;
        padding-right: 4vw;
        
    }

    .group-1, .group-2, .group-3 {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .group-1 {
        grid-area: 1/1/span 1/span 4;
        grid-template-areas:
            "triangle . . rhombus";
    }

    .group-2 {
        grid-area: 3/1/span 1/span 4;
        grid-template-areas: "circle . . heart";
    }

    .group-3 {
        grid-area: 5/1/span 1/span 4;
        grid-template-areas: "pentagon . . square";
    }

    .close {
        visibility: hidden;
    }

    .fortune-paper p {
        visibility: hidden;
    }



}

@keyframes grow {
    0% {
        width: 5vw;
    }
    100% {
        width: 25vw;
    }
}

@keyframes shrink {
    from {
        width: 25vw;
    }
    to {
        width: 5vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    90% {
        opacity: 0;
        visibility: "visible";
    }
    100% {
        opacity: 1;
        visibility: "visible";
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: "visible";
    }
    30% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


#fortune-number1, #fortune-number2 {

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        background-color: white;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip {
        @include transform(rotateY(180deg));
    }

    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        @include Sinhala;
        @include transform(rotateX(0deg) translateX(-50%));
        line-height: 1.3vw;
        position: absolute;
        width: 70%;
        height: 100%;
        left: 50%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }

    .flip-card-front div, .flip-card-back div {
        @include transform(translateY(-50%));
        display: flex;
        align-items:center;
        height: 9vh;
        width: 100%;
        position: relative;
        top: 50%;
        cursor: pointer;
        justify-content: center;
    }

    .flip-card-back {
        @include transform(rotateY(180deg) translateX(50%));
        position: absolute;
        color: black;
        z-index: 20;
        text-align: center;
    }

}

#fortune-number2 .flip-card-inner {
    background-color: black;
}

#fortune-number2 .flip-card-inner.flip {
    background-color: white;
}

#fortune-number1 .flip-card-inner.flip {
    background-color: black;
}



/*

    .grid-item {
        &.fortune-triangle {
            grid-area: triangle;
            width: 0; 
            height: 0; 
            border-left: 5vh solid transparent;
            border-right: 5vh solid transparent;
            border-bottom: 9vh solid black;
        }

        &.fortune-rhombus {
            grid-area: rhombus;
            height: 7vh;
            width: 7vh;
            background-color: black;
            transform: translate(-50%, -50%) rotate(-45deg);
    
        }
    
        &.fortune-circle {
            grid-area: circle;
            height: 9vh;
            width: 9vh;
            background-color: black;
            border-radius: 50%;
    
        }
    
        &.fortune-heart {
            grid-area: heart;
            height: 9vh;
            background-image: url('../img/Fortune/Heart_Fortune.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    
        }
    
        &.fortune-pentagon {
            grid-area: pentagon;
    
            width: 9vh;
            height: 9vh;
            background-color: black;
            clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
        }
    
        &.fortune-square {
            grid-area: square;
            width: 9vh;
            height: 9vh;
            background-color: black;
        }

        &#fortune-number1 {
            grid-area: number1;
            height: 6vh;
            width: 100%;
            background-color: white;
        }
    
        &#fortune-number2 {
            grid-area: number2;
            height: 6vh;
            width: 100%;
            background-color: white;
        }
    }

    .fortune-paper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        //width: 40vh;
        width: 5vh;
        height: 5vh;
        background-color: white;        
    }

    .fortune-paper {
        &.left {
            left: 50%;
        }

        &.right {
            right: 50%;
        }

        &.fortune-triangle {
            grid-area: triangle;
        }

        &.fortune-rhombus {
            grid-area: rhombus;
        }
    
        &.fortune-circle {
            grid-area: circle;
        }
    
        &.fortune-heart {
            grid-area: heart;
        }
    
        &.fortune-pentagon {
            grid-area: pentagon;
        }
    
        &.fortune-square {
            grid-area: square;
        }
    }
*/