@import './Reusable.scss';

.gallery-container {
    // was in html
    overscroll-behavior-y: none;
    overflow-x: hidden;
    overflow-y: scroll;


    width: 100%;
    height: 240vh;
    background-image: url('../img/Gallery/Flavour_Profile_BG.png');
    background-size: contain;
    background-position: center;

    .backarrow {
        position: absolute;
        top: 18%;
        left: 7%;
    }

    .white-background {
        @include transform(translate(-50%, -50%));
        background-color: white;
        height: 96%;
        width: 96%;
        position: relative;
        top: 50%;
        left: 50%;
    }

    .border1 {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: 4vw;
        -webkit-box-shadow:inset 0px 0px 0px 4px lightgrey,
                            0px 0px 0px 3px white,
                            0px 0px 0px 5px lightgrey,
                            0px 0px 0px 9px white,
                            0px 0px 0px 13px lightgrey;
        -moz-box-shadow:inset 0px 0px 0px 4px lightgrey,
                        0px 0px 0px 3px white,
                        0px 0px 0px 5px lightgrey,
                        0px 0px 0px 9px white,
                        0px 0px 0px 13px lightgrey;
        box-shadow:inset 0px 0px 0px 4px lightgrey,
                    0px 0px 0px 3px white,
                    0px 0px 0px 5px lightgrey,
                    0px 0px 0px 9px white,
                    0px 0px 0px 13px lightgrey;
    }

    .image {
        position: relative;
    }


    .chess .image, 
    .financier .image, 
    .soft .image, 
    .brownie .image, 
    .fortune .image, 
    .mystery2 .image {
        background-image: url('../img/Gallery/Diamond_Doily.png');
    }

    .wafer .image, 
    .macaron .image, 
    .linzer .image, 
    .madeleine .image, 
    .mystery1 .image, 
    .mystery3 .image {
        background-image: url('../img/Gallery/Circle_Doily.png');
    }

    .image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        @include Nautica;
        @include tracking(140);
        padding-top: 5vh;
    }

    .name {
        @include nameFont;
    }

    .description {
        @include Sinhala;
    }

    .grid-container {
        @include transform(translateX(-50%));
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(150px,1fr));
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 20vh 5vw;
        height: 80%;
        width: 85%;
        position: relative;
        left: 50%;
        padding-top: 8vh;
    }

    .chess, .wafer, .financier, .macaron, .soft, .linzer, .brownie, .madeleine, .fortune {
        position: relative;
    }

    img {
        @include transform(translateY(-50%));
        position: relative;
        max-height: 70%;
        max-width: 70%;
        top: 50%;
    }

    .icon {
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;       
        color: white;
    }

    .icon:hover {
        @include transform(translate(-50%, -50%) scale(1.3));
        transition: scale 1s ease-in;
    }

    .fortune .icon {
        top: 40%;
    }

    .madeleine img, .macaron img {
        max-height: 85%;
        transition: 1s ease;
    }

    .financier img {
        max-height: 70%;
        max-width: 80%;
        transition: 1s ease;
    }

    .brownie img, .fortune img {
        max-height: 70%;
        max-width: 90%;
        transition: 1s ease;
    }

    .temp-square, .temp-circle, .temp-triangle {
        @include transform(translate(-50%, -50%));
        position: relative;
        top: 50%;
        left: 50%;
        background-color: grey;
    }

    .temp-square {
        width: 8vw;
        height: 8vw;
    }

    .temp-circle {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
    }

    .temp-triangle {
        @include transform(translate(-50%, -55%));
        width: 8vw;
        height: 8vw;
        clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    }

    //HOVERS FOR UNLOCKED IMAGES
    .chess:hover img.visited {
        animation: gallery-slide 4s;
    }

    .wafer:hover img.visited {
        opacity: 15%;
    }

    /*
        .financier p {
        @include transform(translate(-50%, 50%));
        position: absolute;
        visibility: hidden;
        color: white;
        pointer-events: none;
        width: 13vw;
        height: auto;
        left: 40%;
        top: 35%;
    }

    .financier img:hover {
        @include transform(translateX(-50%) scale(1.1));
    }

    .financier img:hover + p {
        visibility: visible;
        transition: visibility 1s ease-in;
    }
    */

    .macaron:hover img.visited {
        @include transform(translateY(-50%) rotate(25deg));
        transition: 1s ease;
    }

    .soft img.visited {
        max-height: 80%;
        max-width: 80%;
    }

    .soft:hover img.visited {
        transition: 4s ease;
        @include transform(translateY(-50%) rotate(360deg));
    }

    .linzer:hover img.visited {
        animation: gallery-pulse 1s infinite;
    }

    .brownie:hover img.visited {
        @include transform(translateY(-50%) scale(0.5));
        transition: 1s ease;
    }

    .madeleine:hover img.visited {
        @include transform(translateY(-50%) scale(1.8));
    }

    .fortune img.visited:hover {
        transition: 1s ease;
        animation: gallery-rotation 4s infinite;
    }

    .dollar-sign1 {
        visibility: hidden;
        position: absolute;
        bottom: 20%;
        left: 64%;
    }

    .dollar-sign2 {
        visibility: hidden;
        position: absolute;
        top: 8%;
        right: 15%;
    }

    .dollar-sign3 {
        visibility: hidden;
        position: absolute;
        top: 25%;
        left: 10%;
    }

    .financier:hover .image .visited {
        @include transform(translateY(-50%) scale(1.1));
        visibility: visible;
    }

    @keyframes gallery-slide {
        25% {
            @include transform(translate(-10%, -50%));
        }
        75% {
            @include transform(translate(10%, -50%));
        }
        100% {
            @include transform(translate(0%, -50%));
        }
    }
    
    @keyframes gallery-pulse {
        10% {@include transform(translateY(-50%) scale(1.2))}
    }
    
    @keyframes gallery-shake {
        0% { @include transform(rotate(0deg)); }
        10% { @include transform(rotate(-10deg)); }
        20% { @include transform(rotate(10deg)); }
        30% { @include transform(rotate(0deg)); }
        40% { @include transform(rotate(10deg)); }
        50% { @include transform(rotate(-10deg)); }
        60% { @include transform(rotate(0deg)); }
        70% { @include transform(rotate(-10deg)); }
        80% { @include transform(rotate(10deg)); }
        90% { @include transform(rotate(0deg)); }
        100% { @include transform(rotate(-10deg)); }
    }
    
    @keyframes gallery-scale {
        100% {
            @include transform(translateY(-50%) scale(1.8));
        }
    }
    
    @-webkit-keyframes gallery-rotation {
        0% {
          -webkit-transform: rotateY(0deg) translateY(-50%);
                  transform: rotateY(0deg) translateY(-50%); }
        50% {
          -webkit-transform: rotateY(180deg) translateY(-50%);
                  transform: rotateY(180deg) translateY(-50%); }
        100% {
          -webkit-transform: rotateY(360deg) translateY(-50%);
                  transform: rotateY(360deg) translateY(-50%); } }
      
    @keyframes gallery-rotation {
        0% {
            -webkit-transform: translateY(-50%) rotateY(0deg);
                    transform: translateY(-50%) rotateY(0deg); }
        50% {
            -webkit-transform: translateY(-50%) rotateY(180deg);
                    transform: translateY(-50%) rotateY(180deg); }
        100% {
            -webkit-transform: translateY(-50%) rotateY(360deg);
                    transform: translateY(-50%) rotateY(360deg); } }
}