@import './Reusable.scss';

.hamburger {
    width: 2vh;
    height: 2vh;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 40;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1vw;
    position: relative;
}

.hamburger#menu {
    position: fixed;
    left: -1.5%;
    top: 30%;
    background-color: black;
}

.hamburger#menu:hover {
    background-color: grey;
    border-color: grey;
}

.hamburger#map {
    position: fixed;
    right: -1.5%;
    top: 30%;
}

.hamburger#map:hover {
    background-color: grey;
    border-color: grey;
}

.hamburgerwrapper {
    @include transform(translate(-25%, 10%));
    position: absolute;
    top: 24%;
    left: 50%;
}

#map .hamburgerwrapper {
    @include transform(translate(-25%, 10%));
    position: absolute;
    top: 24%;
    right: -50%;
}

.burger {
    width: 2.5vh;
    height: 0.3vh;
    border-radius: 1vh;
    background-color: black;
    //transform-origin: 1px;
    //transition: all 0.3s linear;
}

.burger1, .burger2, .burger3 {
    margin-top: 0.4vh;
}

/*#navmap-button.hamburger {
    right: 4vw !important;
    bottom: 10vh;
}

#navmap-button.hamburger {
    left: 4vw !important;
    bottom: 10vh;
}*/

.hamburger#menu .burger {
    background-color: white;
}

