@import './Reusable.scss';

@mixin fontA {
    @include Nautica;
    font-weight: bold;
    font-size: 1.5vw;
}

// scroll styling
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

//body {
    //height: 100%;
    //width: 100%;
    //position: relative;
   //-ms-overflow-style: none;  /* IE and Edge */
   //scrollbar-width: none;  /* Firefox */
//}


body::-webkit-scrollbar {
    display: none;
    width: 0px;
}

// overall page styling

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
        width: 0px;
    }


    #home-grid {
        display: grid;
        grid-template-rows: 1fr;
    }

    section {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        scroll-snap-align: start;
    }

    .map-container {
        position: relative;
        //might need to return max-height
        max-height: 100vh;
        overflow: hidden;
        //display: inline-flex;
    }

    // hamburger styling

    .hamburger-container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }

    // all sections styling

    .cookie-map-container {
        @include transform(translateY(-50%));
        //max-height: 100%;
        aspect-ratio: 856 / 481;
        display: block;
        //position: relative;
        //background-size:cover;
        position: relative;
        top: 50%;
        max-height: 100%;
        margin: auto;
    }

    .content {
        height: 100%;
        width: 100%;
    }


    .cookie {
        cursor: pointer;
        transition: 1s ease;
        position: absolute;
    }

    #roof .cookie-map-container {
        background: url('../img/house/Lid.png') no-repeat center center;
        background-size: cover;
    }

    #wrapper .cookie-map-container{
        background-image: url('../img/house/Wrapper_Plain.png');
        background-size: cover;
        /*height: 100vh;
        width: 100%;*/
        /*overflow-x: hidden;*/
        z-index: 10;
    }

    #floor2 .cookie-map-container{
        background: url('../img/house/2F_DoubleText.png') no-repeat center center;
        background-size: cover;
    }

    #ground .cookie-map-container{
        background: url('../img/house/Ground_Text.png') no-repeat center center;
        background-size: cover;
    }

    #cellar .cookie-map-container {
        background: url('../img/house/Cellar_Text.png') no-repeat center center;
        background-size: cover;
    }

    #basement .cookie-map-container {
        background: url('../img/house/Basement_LightGrey.png') no-repeat center center;
        background-size: cover;
    }

    .macaron img, .fortune img, .wafer img {
        max-height: 16vh;
        max-width: 16vh;
    }

    .chess img, .linzer img {
        max-height: 15vh;
        max-width: 15vh;
    }

    // LID STYLING

    .lid-text {
        cursor: pointer;
        color: rgb(86, 85, 85);
        animation: flash 5s infinite;
        -webkit-animation: flash 5s infinite; 
        @include Nautica;
        @include transform(translateX(-50%));
        letter-spacing: 0.8vw;
        position: absolute;
        bottom: 21%;
        left: 50%;

        :hover {
            color: black;
        }

        p {
            @include Nautica;
            @include transform(translateX(-50%));
            letter-spacing: 0.8vw;
            position: absolute;
            bottom: 21%;
            left: 50%;
        }

    }

    @keyframes flash {
        0% {opacity:0.5}
        40% {opacity:1}
        80% {opacity:0.5}
        100% {opacity:0.5}
    }
    
    @-webkit-keyframes flash /*Safari and Chrome*/
    {
        0% {opacity:0.5}
        40% {opacity:1}
        80% {opacity:0.5}
        100% {opacity:0.5}
    }

    .roof-down {

        .down-arrow {
            @include transform(translateX(-50%));
            position: absolute;
            top: auto;
            bottom: 18%;
            left: 50%;
            height: 5%;

            :hover {
                color: black;
            }
        }
    }

    // WRAPPER STYLING

    @mixin wrapperFontA {
        font-family: nautica, sans-serif;
        font-weight: 700;
        font-size: 4.5vw;
        letter-spacing: 0.06em;
        font-style: normal;
    }
    
    @mixin wrapperFontB {
        @include tracking(120);
        font-family: Minion Pro, serif;
        font-weight: semi-bold;
        font-style: italic;
        //letter-spacing: 0.12em;
        //font-size: 1.1vw;
        line-height: 1.5;
    }
    
    #wrapper-grid.content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: inherit;
        grid-template-columns: 25% 25% 25% 20%;
        grid-template-rows: 33% 21%;
        grid-template-areas:
            ". title title . ."
            "line line line line ."
            "titlec titlec info info backarrow";
    }
    
    #wrapper-grid {
    
        .wrapper-down {
            grid-area: backarrow;
        }
    
        .titlea {
            display: inline-block;
            grid-area: title;
            position: relative;
            top: 55%;
            text-align: start;
            padding-left: 7%;
        }
    
        .titleb {
            grid-area: title;
            position: relative;
            top: 75%;
            padding-right: 6%;
            text-align: end;
        }
    
        .line2 {
            grid-area: line;
            position: relative;
            top: 40%;
            text-align: start;
            left: 12.5%;
        }
    
        .line3 {
            grid-area: line;
            position: relative;
            top: 69%;
            left: -12%;
        }
    
        .line4 {
            grid-area: info;
            position: relative;
            text-align: right;
            right: 17%;
            top: -14%;
        }
    
        .titlea, .titleb, .titlec {
            @include wrapperFontA;
        }
    
        .line2, .line3, .line4 {
            @include wrapperFontB;
            font-weight: bold;
        }
    
        .titlec {
            grid-area: titlec;
            position: relative;
            //font-size: 2.5em !important;
            top: 18%;  
            left: 5%;
        }
    }

    //2F STYLING

    #f2-grid.content {
        display: grid;
        grid-template-columns: inherit;
        grid-template-rows: 50%;
        grid-template-columns: 20% 20% 20% 19% 16% 5%;
        grid-template-areas:
            ". macaron . fortune . ."
            ". chess . finance . backarrow";
    }

    .mac {
        grid-area: macaron;
    }

    .che {
        grid-area: chess;
    }

    .for {
        grid-area: fortune;
    }

    .fin {
        grid-area: finance;
        position: relative;
    }

    .f2-down {
        grid-area: backarrow;
    }

    .bro {
        grid-area: brownie;
    }

    .fortune {
        @include transform(translateY(-50%));
        display: inline-block;
        position: relative;
        top: 50%;
        height: 9vw;
        width: 9vw;
    }

    .fortune img {
        @include transform(translate(-50%, -50%));
        top: 50%;
        height: 9vw;
        width: 9vw;
    }

    .fortune img:hover {
        transition: 1s ease;
        animation: rotation 4s infinite;
    }

    @-webkit-keyframes rotation {
        0% {
          -webkit-transform: rotateY(0deg) translateY(-50%);
                  transform: rotateY(0deg) translateY(-50%); }
        50% {
          -webkit-transform: rotateY(180deg) translateY(-50%);
                  transform: rotateY(180deg) translateY(-50%); }
        100% {
          -webkit-transform: rotateY(360deg) translateY(-50%);
                  transform: rotateY(360deg) translateY(-50%); }
    }
      
    @keyframes rotation {
        0% {
            -webkit-transform: translate(-50%, -50%) rotateY(0deg);
                    transform: translate(-50%, -50%) rotateY(0deg); }
        50% {
            -webkit-transform: translate(-50%, -50%) rotateY(180deg);
                    transform: translate(-50%, -50%) rotateY(180deg); }
        100% {
            -webkit-transform: translate(-50%, -50%) rotateY(360deg);
                    transform: translate(-50%, -50%) rotateY(360deg); } 
    }

    .macaron { 
        @include transform(rotate(-25deg));
        display: inline-block;
        position: relative;
        top: 60%;
        left: -5%;
    }

    .macaron img {
        @include transform(translateX(-50%));
        position: relative;
        height: 10vw;
    }

    .macaron:hover img {
        @include transform(translateX(-50%) rotate(25deg) scale(1.2));
        transition: 1s ease;
    }

    .chess {
        @include transform(translateX(-80%));
        display: inline-block;
        position: relative;
        top: 38%;
        left: 22%;
        transition: 0.5s;
    }

    .chess img {
        @include transform(translateX(-50%));
        position: relative;
        height: 8vw !important;
    }

    .chess:hover img {
        animation: slide 4s;
    }

    @-webkit-keyframes slide {
        25% {
          -webkit-transform: translateX(-90%);
                  transform: translateX(-90%); }
        65% {
          -webkit-transform: translateX(-30%);
                  transform: translateX(-30%); }
        100% {
          -webkit-transform: transform(translateX(-60%));
                  transform: transform(translateX(-60%)); }
    }
      
    @keyframes slide {
        0% {
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%); }
        25% {
            -webkit-transform: translateX(-90%);
                    transform: translateX(-90%); }
        65% {
            -webkit-transform: translateX(-30%);
                    transform: translateX(-30%); }
        100% {
            -webkit-transform: transform(translateX(-60%));
                    transform: transform(translateX(-60%)); } 
    }

    .financier {
        @include transform(translateX(-50%));
        display: inline-block;
        top: 28%;
        left: 50%;
        text-decoration: none;
        position: absolute;
    }

    .financier img{
        @include transform(translateX(-50%));
        position: relative;
        left: 50%;
        width: 14vw;
        max-width: 200px;
        max-height: 8vh;
    }

    .financier p {
        @include transform(translate(-50%, 50%));
        position: absolute;
        visibility: hidden;
        color: white;
        pointer-events: none;
        width: 13vw;
        height: auto;
        left: 40%;
        top: 35%;
    }

    .financier img:hover {
        @include transform(translateX(-50%) scale(1.1));
    }

    .financier img:hover + p {
        visibility: visible;
        transition: visibility 1s ease-in;
    }

    // Ground styling

    #ground-grid.content {
        display: grid;
        grid-template-columns: inherit;
        grid-template-rows: 25% 25% 43%;
        //grid-template-columns: 12.5% 18% 5.5% 15.75%;
        grid-template-columns: 12.5% 18% 5.5% 15.5% 43%;
        grid-template-areas:
            ".  .  . wafer . ."
            ". madeleine  . . brownie brownie"
            ". .  linzer linzer . grounddown"
            ". .  . . . .";
    }

    .ground-down {
        grid-area: grounddown;
    }

    //Cellar? Madeleine floor

    .mad {
        grid-area: madeleine;
    }

    .waf {
        grid-area: wafer;
    }

    .linz {
        grid-area: linzer;
        justify-content: center;
    }

    .bro {
        grid-area: brownie;
    }

    .madeleine {
        @include transform(rotate(-5deg));
        display: inline-block;
        position: relative;
        top: 15%;
    }

    .madeleine img {
        position: relative;
        height: 8.5vw;
        max-height: 16vh;
    }

    .madeleine:hover img {
        @include transform(scale(3));
        /*animation: scale 1s forwards;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        -webkit-animation: scale;
        -webkit-animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;*/
    }

    /*@keyframes shake {
        0% { @include transform(rotate(0deg)); }
        10% { @include transform(rotate(-10deg)); }
        20% { @include transform(rotate(10deg)); }
        30% { @include transform(rotate(0deg)); }
        40% { @include transform(rotate(10deg)); }
        50% { @include transform(rotate(-10deg)); }
        60% { @include transform(rotate(0deg)); }
        70% { @include transform(rotate(-10deg)); }
        80% { @include transform(rotate(10deg)); }
        90% { @include transform(rotate(0deg)); }
        100% { @include transform(rotate(-10deg)); }
    }*/

    .wafer {
        @include transform(rotate(45deg));
        display: inline-block;
        position: relative;
        top: 60%;
        left: -5%;
        transition: .3s linear;
    }

    .wafer img {
        //make sure img has relative and size should match
        position: relative;
        height: 6.5vw !important;
        max-height: 13vh;
    }

    .wafer:hover {
        opacity: 15%;
    }

    .linzer {
        @include transform(translateY(-50%));
        display: inline-block;
        position: relative;
        top: 43%;
        left: 1%;
    }

    .linzer img {
        position: relative;
        top: 25%;
        width: 8vw;
    }

    .linzer:hover img {
        animation: pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        -webkit-animation: pulse;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    @keyframes pulse {
        0% {@include transform(scale(1))}
        10% {@include transform(scale(1.5))}
        100% {@include transform(scale(1))}
    }
        
    .brownie {
        @include transform(rotate(190deg));
        display: inline-block;
        position: relative;
        top: 56%;
        left: -5%;
    }

    .brownie img {
        //@include transform(rotate(190deg));
        position: relative;
        max-height: 5vh;
        width: 8vw;
    }

    .brownie:hover {
        @include transform(scale(0.5) rotate(190deg));
        transition: 1s ease;
    }    



    // Cellar styling

    #cellar {
        position: relative;
        overflow: visible;
    }

    .fork {
        @include transform(rotate(-35deg));
        position: absolute;
        height: 60vh;
        left: 20%;
        top: -26%;
        overflow: visible;
        z-index: 10;
    }

    #cellar-grid.content {

        display: grid;
        grid-template-columns: inherit;
        grid-template-rows: 50%;
        grid-template-columns: 30% 65% 5%;
        grid-template-areas:
            ".  . ."
            "soft . cellardown"
    }

    .cellar-down {
        grid-area: cellardown;
    }

    .bigcircleborder {
        @include transform(translate(-50%, -40%));
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid #0000004D;
        height: 30vw;
        width: 30vw;
        max-height: 53vh;
        max-width: 53vh;
        border-radius: 50%;
        -webkit-box-shadow:inset 0px 0px 0px 4px lightgrey,
                            0px 0px 0px 3px white,
                            0px 0px 0px 5px lightgrey;
        -moz-box-shadow:inset 0px 0px 0px 4px lightgrey,
                            0px 0px 0px 3px white,
                            0px 0px 0px 5px lightgrey;
        box-shadow:inset 0px 0px 0px 0.5px #0000004D,
                            0px 0px 0px 3px white,
                            0px 0px 0px 7px #0000004D;
    }

    .bigcircle {
        @include fontA;
        @include transform(translate(-50%, -36%));
        border: none;
        border-radius: 50%;
        height: 22vw;
        width: 22vw;
        max-height: 38vh;
        max-width: 38vh;
        text-align: center;
        line-height: 25pt;
        position: absolute;
        top: 50%;
        left: 50%;

        background: linear-gradient(to top, rgb(208, 15, 15) 50%, #0000001A 50%);
        background-size: 100% 220%;
        background-position: top;
        transition: all 1s ease-out;
    }

    .bigcircle:hover {
        background-position: bottom;
        color: white;
    }

    .bigcircle:hover ~ .circle {
        background-position: bottom;
        color: white;
    }

    .bloodcircle p, .watercircle p {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .bigcircle p {
        padding-top: 40%;
    }

    .bloodcircle, .watercircle {
        @include fontA;
        border: none;
        border-radius: 50%;
        height: 8vw;
        width: 8vw;
        max-width: 100px;
        max-height: 100px;
        text-align: center;
        position: absolute;
        background: linear-gradient(to top, rgb(208, 15, 15) 50%, #0000001A 50%);
        background-size: 100% 220%;
        background-position: top;
        transition: all 1s ease-out;
    }

    .bloodcircle {
        top: 13%;
        left: 64%;
    }

    .watercircle {
        top: 19%;
        left: 76%;
    }

    .sof { 
        grid-area: soft;
    }

    .Locked {
        grid-area: soft;
    }

    .softcookie {
        @include fontA;
        position: relative;
        display: inline-block;
        top: 32%;
        left: 12%;
    }

    .softcookie img {
        position: relative;
        height: 6vw !important;
        max-height: 12vh;
        max-width: 12vh;
    }

    .softcookie:hover img {
        transition: 1s ease;
    }

    .Locked {
        position: relative;
    }

    .Icon {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        height: 1vw;
    }

    // BASEMENT STYLING
    
    .base-map {
        @include transform(translate(-50%, -50%));
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
    }

}
