/*html {
    scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}*/

@mixin fontA {
    font-family: Nautica;
    font-weight: bold;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
}

@mixin fontB {
    font-family: Sinhala MN;
    font-size: 18pt;
    letter-spacing: 0.5vw;
}

html, body {
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: none;
    overflow-x: hidden;

}

body {
    height: 100%;
    width: 100%;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}
  

#home-grid {
    display: grid;
    grid-template-rows: 1fr;
}

#home-grid {

}
section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-align: start;
}

.tempwrapper {
    background-image: url('../img/house/Wrapper_With_Text.png');
}

/*this needs to be fixed with reusable components and styling*/

.hamburger-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

//ALL SECTIONS
.map-container {
    position: relative;
    //might need to return max-height
    max-height: 100vh;
    overflow: hidden;
    //display: inline-flex;
}

.map {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//#ground .cookie-map-container
.cookie-map-container {
    max-height: 100%;
    aspect-ratio: 856 / 481;
    display: block;
    position: relative;
    background-size:cover; /* any size that stretches the background */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
    margin: auto;
}

#floor2 .cookie-map-container{
    background: url('../img/house/Floor_2.png') no-repeat center center;
    background-size:cover; /* any size that stretches the background */
}

#ground .cookie-map-container{
    background: url('../img/house/Floor_G_Text.png') no-repeat center center;
    background-size:cover; /* any size that stretches the background */
}

#cellar .cookie-map-container {
    background: url('../img/house/Floor_Cellar.png') no-repeat center center;
    background-size:cover; /* any size that stretches the background */
}

#basement .cookie-map-container {
    background: url('../img/house/Floor_Basement.png') no-repeat center center;
    background-size:cover; /* any size that stretches the background */
}

.home .macaron, .home .fortune, .home .softcookie {
    height: 10vw;
}

.cookie {
    cursor: pointer;
    transition: 1s ease;
    position: absolute;
}

//2F

#f2-grid.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 50%;
    grid-template-columns: 15.4% 13.5% 18.5% 26.5% 26.5%;
    grid-template-areas:
        ". . macaron . fortune ."
        ". chess . finance .";
}

.mac {
    grid-area: macaron;
}

.che {
    grid-area: fortune;
}

.for {
    grid-area: chess;
}

.bro {
    grid-area: brownie;
}

.fortune {
    top: 18%;
    left: 65%;
}

.fortune:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.macaron {
    top: 28%;
    left: 26%;
    transform: rotate(-25deg);
}

.macaron:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.chess {
    top: 72%;
    left: 18.5%;
    height: 9vw !important;
    transition: 0.5s;
}

.chess:hover {
    animation: slide 4s;
}

@keyframes slide {
    25% {
        transform: translateX(-30px);
    }
    75% {
        transform: translate(30px);
    }
    100% {
        transform: translate(0px);
    }
}



//cellar with circles

#cellar {
    position: relative;
    overflow: visible;
}

.fork {
    position: absolute;
    height: 60vh;
    transform: rotate(-35deg);
    left: 20%;
    top: -20%;
    overflow: visible;
    z-index: 10;
}

.bigcircleborder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border: 2px solid #0000004D;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    outline: 4px solid #0000004D;
    outline-offset: 3px;
}

.bigcircle {
    @include fontA;
    border: none;
    border-radius: 50%;
    height: 22vw;
    width: 22vw;
    text-align: center;
    line-height: 25pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);

    background: linear-gradient(to top, rgb(208, 15, 15) 50%, #0000001A 50%);
    background-size: 100% 220%;
    background-position: top;
    transition: all 1s ease-out;
}

.bigcircle:hover {
    background-position: bottom;
    color: white;
}

.bigcircle:hover ~ .circle {
    background-position: bottom;
    color: white;
}

.bloodcircle p, .watercircle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigcircle p {
    padding-top: 40%;
    /*transition: all .6s ease-out;*/
}

.bloodcircle {
    @include fontA;
    border: none;
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    text-align: center;
    position: absolute;
    top: 11.5%;
    left: 64.5%;

    background: linear-gradient(to top, rgb(208, 15, 15) 50%, #0000001A 50%);
    background-size: 100% 220%;
    background-position: top;
    transition: all 1s ease-out;
}

.watercircle {
    @include fontA;
    border: none;
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    text-align: center;
    position: absolute;
    top: 18%;
    left: 77.5%;

    background: linear-gradient(to top, rgb(208, 15, 15) 50%, #0000001A 50%);
    background-size: 100% 220%;
    background-position: top;
    transition: all 1s ease-out;
}

.softcookie {
    @include fontA;
    top: 55%;
    left: 15%;
}

// Basement

.basement p {
    @include fontB;
    position: absolute;
    top: 50%;
    z-index: 30;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Ground (test with grid)

/*#ground #ground-grid {
    height: 80%;
    max-height: 100%;
    max-width: 100%;
    //aspect-ratio: 856 / 481;
    display: inline-grid;
    grid-template-rows: 8% 84% 8%;
    grid-template-columns: 5% 90% 5%;
    justify-items: center;
    align-items: center;
}*/

#ground-grid.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 25% 25% 43%;
    grid-template-columns: 12.5% 18% 5.5% 15.75%;
    grid-template-areas:
        "madeleine  madeleine  . wafer ."
        "madeleine madeleine  . . brownie"
        ". .  linzer linzer . "
        ". .  . . .";
}

//Cellar? Madeleine floor

.mad {
    grid-area: madeleine;
}

.waf {
    grid-area: wafer;
}

.linz {
    grid-area: linzer;
    justify-content: center;
}

.bro {
    grid-area: brownie;
}

a {
    height: 0;
    width: 0;
}

.home img.madeleine {
    position: relative;
    top: 60%;
    left: 25%;
    transform: rotate(-5deg);
    height: 8.5vw;
    display: inline-block;
}

.home .madeleine:hover {
    //-webkit-transform: scale(3);
    //-ms-transform: scale(3);
    //transform: scale(3);
    /*transform: rotate(-5deg);
    transition: 2s ease;
    animation: shake 0.82s infinite; //, scale 1s forwards;*/
    //transition: 1s ease;
    animation: scale 1s forwards;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-10deg); }
    20% { transform:  rotate(10deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    60% { transform:  rotate(0deg); }
    70% { transform:  rotate(-10deg); }
    80% { transform:  rotate(10deg); }
    90% { transform:  rotate(0deg); }
    100% { transform:  rotate(-10deg); }
}

@keyframes scale {
    100% {
        transform: scale(3);
        -webkit-transform: scale(3);
        -ms-transform: scale(3);
    }
}

.wafer {
    position: relative;
    top: 65%;
    left: 10%;
    height: 7vw !important;

    /*-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
        left   var(--_i,0%) top    var(--_g),
        bottom var(--_i,0%) left   var(--_g),
        top    var(--_i,0%) right  var(--_g),
        right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    outline-offset: -100vmax;*/
    transition: .3s linear;
    cursor: pointer;
}

.wafer:hover {
    /*--_i: 10%;
    outline-color: #0000;*/
    opacity: 15%;
}

.linzer {
    position: relative;
    top: 25%;
    width: 8vw;
}

.linzer:hover {
    animation:pulse 1s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.5)}
}


img.brownie {
    position: relative;
    top: 56%;
    left: -5%;
    //transform: translateX(-20%);
    max-height: 5vh;
    width: 9vw;
    transform: rotate(190deg);
}

a.brownie {
    position: inline;
}

.brownie:hover {
    -webkit-transform: scale(0.5) rotate(190deg);
    -ms-transform: scale(0.5) rotate(190deg);
    transform: scale(0.5) rotate(190deg);
    transition: 1s ease;
}

.softcookie:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}