@import './Reusable.scss';

@mixin cardFont {
    @include Sinhala;
    font-size: 0.8vw;
    line-height: 2.3vh;
}

.linzer-interaction-container {
    height: 90vh;
    width: 90vw;

    .instructionBox {
        left: 0;
    }

    .right-section {
        right: 0;
    }

    .instructionBox .dialogue {
        color: white;
        max-height: 25vh;
        padding: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        aspect-ratio: 753 / 457;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  
    }

    .dialogue {
        padding-left: 2vh !important;
        padding-right: 2vh !important;
    }

    .cards {
        height: 100%;
        width: 100%;
    }

    .cards {
        @include cardFont;
        @include transform(translateY(-50%));
        white-space: pre-line;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "card0 card1"
            "card2 card3"
            "card4 card5";
        gap: 2vh;
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .question-card, .answer-card, .click-container {
        color: white;
        height: 23vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        transition: opacity 0.5s;
        aspect-ratio: 760 / 458;
        padding-right: 1vw;
        padding-left: 1vw;
        cursor: pointer;
    }

    .card0 {
        grid-area: card0;
    }

    .card1 {
        grid-area: card1;
    }

    .card2 {
        grid-area: card2;
    }

    .card3 {
        grid-area: card3;
    }

    .card4 {
        grid-area: card4;
    }

    .card5 {
        grid-area: card5;
    }



    .answer-card {
        color: black;
        flex-direction: column;
        line-height: 1.9vh;
    }

    .answer-card-text {
        margin: 0.5vw;
        margin-top: 0.9vw;
    }

    .question-card-text {
        margin: 2vw;
    }

    .line1, .line2, .line3 {
        cursor: pointer;
    }

    .right-section {
        @include transform(translateY(-50%));
        position: absolute;
        width: 57vw;
        height: 100vh;
        max-height: 90vh;
        top: 50%;
    }

}