@mixin cardFont {
    font-family: Sinhala MN;
    font-size: 1.6vh;
    letter-spacing: 0.1em;
    line-height: 1.8vh;
}

.dialogue {
    padding-left: 2vh !important;
    padding-right: 2vh !important;
}

.questions, .answers {
    @include cardFont;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.question-card, .answer-card {
    color: white;
    height: 23vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    //z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.answer-card {
    color: black;
    flex-direction: column;
}

.question-card-text {
    padding: 10vh;
}

.line1, .line2, .line3 {
    padding: 1vh;
    width: 80%;
    cursor: pointer;
}
