@mixin cardFont {
    font-family: Sinhala MN;
    font-size: 1.5vh;
    letter-spacing: 0.1em;
    line-height: 1.8vh;
}

.linzer-interaction-container {

    .dialogue {
        padding-left: 2vh !important;
        padding-right: 2vh !important;
    }

    .questions, .answers {
        @include cardFont;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .question-card, .answer-card {
        color: white;
        height: 23vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        //z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;
        transition: opacity 0.5s;
        aspect-ratio: 760 / 458;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    .answer-card {
        color: black;
        flex-direction: column;
    }

    .question-card-text {
        padding: 2vw;
    }

    .line1, .line2, .line3 {
        padding: 0.8vh;
        width: 90%;
        cursor: pointer;
    }

    .right-section {
        position: absolute;
        width: 60vw;
        height: 90vh;
        right: 0;
        margin: 1vw;
    }

}