@import './Reusable.scss';

@mixin dialogueText {
    @include instructionFont;
    font-size: 1vw;
}

.macaron-interaction-container {
    width: 100%;
    height: 100%;
    position: relative;

    .dialogueBox {
        @include dialogueText;
        @include transform(translateY(-50%));
        position: relative;
        width: 75%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1/1;
        top: 50%;
    }

    .mac-dialogue {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        text-align: center;
        white-space: pre-line;
    }
    
    #you {
        font-weight: bold;
    }

    .you p:first-of-type {
        opacity: 50%;
    }

    .fade {
        opacity: 20%;
        display: inline-block;
    }

    #mm {
        font-family: Nautica;
        font-weight: bold;
        font-size: 2.4vw;
    }

    .controlBox {
        @include transform(translateY(-50%));
        position: absolute;
        padding-top: 3%;
        padding-bottom: 3%;
        right: 0;
        top: 50%;
        width: 18%;
        height: 60%;
        background-color: white;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .macaron-button {
            height: 30%;
            width: 65%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;
        }

        .rectangle {
            height: 25%;
            margin: 1.5%;
            pointer-events: none;
        }

        .macaron-button:not(.active):hover {
            .rectangle {
                //background-color: darkgrey !important;

                filter: brightness(80%);
            }
        }

        .macaron-button.active {
            .rectangle {
                background-color: #9fcdea !important;
            }
        }

    }
}