@mixin fontA {
    font-family: Sinhala MN, sans-serif;
    font-size: 1.8vh;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
}

.madeleine-interaction-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    .right-section {
        /*position: absolute;
        width: 60vw;
        height: 90vh;
        right: 0;
        padding-right: 5%;*/
    
        position: absolute;
        width: 57vw;
        height: 100vh;
        right: 5vw;
        max-height: 90vh;
        top: 50%;
        transform: translateY(-50%);
    }

    .instructionBox .dialogue {
        color: white;
        max-height: 25vh;
        padding: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        //width: 17vw;
        //left: 50%;
        //transform: translateX(-50%);
        //top: 70%;
        //height: 20vh;
        aspect-ratio: 753 / 457;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  
    }
    
    .right-section img {
        height: 27vh;
        z-index: 20;
    }
    
    .right-section #index-5 {
        display: inline-block;
        right: 0 !important;
        left: 30% !important;
        top: 6% !important;
    }
    
    .right-section #index-14 {
        display: inline-block;
        right: 0 !important;
        left: 5% !important;
        top: 65% !important;
    }
    
    .right-section #index-17 {
        display: inline-block;
        right: 0 !important;
        left: 10% !important;
        top: 60% !important;
    }
    
    .right-section #index-24 img {
        height: 35vh;
        z-index: 5;
        display: inline-block;
        right: 30%;
        top: 50%;
    }
    
    .right-section #index-24 .mad-dialogue {
        animation: dance-shake 0.7s infinite;
        font-size: 1.8vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    
    .right-section #index-25 img {
        height: 45vh;
        z-index: 5;
        display: inline-block;
        right: 50% !important;
        top: 20% !important; 
    }
    
    .right-section #index-25.madeleineBox {
        height: 45vh;
        z-index: 5;
        display: inline-block;
        right: 50% !important;
        top: 20% !important; 
    }
    
    .right-section #index-25 .mad-dialogue {
        animation-name: dance-shake;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        font-size: 1.8vw;
        line-height: 2vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
    
    @keyframes shake {
        0% { transform: translateX(0) translate(-50%, -50%)}
        25% { transform: translateX(5px) translate(-50%, -50%)}
        50% { transform: translateX(-5px) translate(-50%, -50%)}
        75% { transform: translateX(5px) translate(-50%, -50%)}
        100% { transform: translateX(0) translate(-50%, -50%)}
    }
    
    @keyframes dance-shake {
        0% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
        25% { transform: translate(-50%, -50%) translate(5px, 5px) rotate(5deg); }
        50% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
        75% { transform: translate(-50%, -50%) translate(-5px, 5px) rotate(-5deg); }
        100% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
    }

    .madeleineBox {
        position: absolute;
        display: inline-block;
    }
    
    .madeleineBox .mad-dialogue {
        @include fontA;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

//text


