@mixin fontA {
    font-family: Sinhala MN, sans-serif;
    font-size: 1.5vh;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
}

.madeleine-interaction-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.madeleineBox {
    position: absolute;
    display: inline-block;
}

.madeleineBox .mad-dialogue {
    @include fontA;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

//text

.right-section {
    position: absolute;
    width: 60vw;
    height: 90vh;
    right: 0;
    padding-right: 5%;
}

.right-section img {
    height: 23vh;
    z-index: 20;
}

.right-section #index-24 img {
    height: 35vh;
    z-index: 5;
    display: inline-block;
    right: 30%;
    top: 70%;
}

.right-section #index-25 img {
    height: 35vh;
    z-index: 5;
    display: inline-block;
    right: 30%;
    top: 70%;
}

.right-section #index-25 .mad-dialogue {
    animation: dance-shake 0.7s infinite;
    font-size: 1vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.right-section #index-26 img {
    height: 50vh;
    z-index: 5;
    display: inline-block;
    right: 50% !important;
    top: 20% !important; 
}

.right-section #index-26 .mad-dialogue {
    animation: shake 0.5s infinite !important;
    font-size: 1.5vw;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, 50%) !important;
}

@keyframes shake {
    0% { transform: translateX(0) translate(-50%, -50%)}
    25% { transform: translateX(5px) translate(-50%, -50%)}
    50% { transform: translateX(-5px) translate(-50%, -50%)}
    75% { transform: translateX(5px) translate(-50%, -50%)}
    100% { transform: translateX(0) translate(-50%, -50%)}
}

@keyframes dance-shake {
    0% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
    25% { transform: translate(-50%, -50%) translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
    75% { transform: translate(-50%, -50%) translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(-50%, -50%) translate(0, 0) rotate(0deg); }
}