@import './Reusable.scss';

@mixin fontA {
    @include Sinhala;
    line-height: 3vh;
}

.madeleine-interaction-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    .right-section {
        @include transform(translateY(-50%));
        position: absolute;
        width: 57vw;
        height: 100vh;
        right: 5vw;
        max-height: 90vh;
        top: 50%;
        white-space: pre-line;


        img {
            height: 27vh;
            z-index: 20;
        }
        
        #index-5 {
            display: inline-block;
            right: 0 !important;
            top: 6% !important;
        }
        
        #index-14 {
            display: inline-block;
            right: 0 !important;
            top: 65% !important;
        }
        
        #index-17 {
            display: inline-block;
            right: auto !important;
            left: 0 !important;
            top: 60% !important;
        }

        #index-21 {
            display: inline-block;
            right: auto !important;
            left: 0 !important;
            top: 0 !important;
        }
        
        #index-24 img {
            height: 35vh;
            z-index: 5;
            display: inline-block;
        }

        #index-24 {
            right: 10% !important;
            top: 50% !important;
        }
        
        #index-24 .mad-dialogue {
            @include transform(translate(-50%, 50%));
            animation: shake 0.7s infinite;
            font-size: 1.4vw;
            line-height: 1.6vw;
            top: 50%;
            left: 50%;
        }
        
        #index-25 img {
            height: 45vh;
            z-index: 5;
            display: inline-block;
            right: 50% !important;
            top: 20% !important; 
        }
        
        #index-25.madeleineBox {
            height: 45vh;
            z-index: 5;
            display: inline-block;
            right: 50% !important;
            top: 20% !important; 
        }
        
        #index-25 .mad-dialogue {
            @include transform(translate(-50%, -40%));
            animation-name: dance-shake;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
            font-size: 1.8vw;
            line-height: 3vw;
            top: 50%;
            left: 50%;
        }

        #index-11 .mad-dialogue, #index-13 .mad-dialogue, #index-14 .mad-dialogue, #index-17 .mad-dialogue, #index-19 .mad-dialogue, #index-23 .mad-dialogue {
            animation-name: mini-shake;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }

    .instructionBox .dialogue {
        color: white;
        max-height: 25vh;
        padding: 2vh;
        padding-left: 2vw;
        padding-right: 2vw;
        position: relative;
        padding-top: 10%;
        //width: 17vw;
        //left: 50%;
        //transform: translateX(-50%);
        //top: 70%;
        //height: 20vh;
        aspect-ratio: 753 / 457;
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  
    }

    .madeleineBox {
        position: absolute;
        display: inline-block;
    }
    
    .madeleineBox .mad-dialogue {
        @include fontA;
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;
        width: 85%;
    }
}

@keyframes mini-shake {
    0% {  @include transform(translateX(0) translate(-50%, -50%))}
    25% { @include transform(translateX(5px) translate(-50%, -50%))}
    50% { @include transform(translateX(-5px) translate(-50%, -50%))}
    75% { @include transform(translateX(5px) translate(-50%, -50%))}
    100% { @include transform(translateX(0) translate(-50%, -50%))}
}

@keyframes shake {
    0% { @include transform(translateX(0) translate(-50%, -50%))}
    25% { @include transform(translateX(5px) translate(-50%, -50%))}
    50% { @include transform(translateX(-5px) translate(-50%, -50%))}
    75% { @include transform(translateX(5px) translate(-50%, -50%))}
    100% { @include transform(translateX(0) translate(-50%, -50%))}
}

@keyframes dance-shake {
    0% { @include transform(translate(-50%, -50%) translate(0, 0) rotate(0deg)); }
    25% { @include transform(translate(-50%, -50%) translate(5px, 5px) rotate(5deg)); }
    50% { @include transform(translate(-50%, -50%) translate(0, 0) rotate(0deg)); }
    75% { @include transform(translate(-50%, -50%) translate(-5px, 5px) rotate(-5deg)); }
    100% { @include transform(translate(-50%, -50%) translate(0, 0) rotate(0deg)); }
}


