@mixin fontA {
    font-family: Sinhala MN;
    font-size: 1.8vh;
    color: black;
    letter-spacing: 0.1vw;
}

.maincourse {
    @include fontA;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.maincourse > * {
    display: inline-block;
    vertical-align: middle;
    margin: 2vw;
    padding: 2vw;
}

.middle-circle {
    border: 3px solid grey;
    outline: 8px solid grey;
    outline-offset: 5px;
    border-radius: 50%;
    height: 70vh;
    width: 70vh;
    position: relative;
}

.middle-circle div {
    padding: 10%;
    /*position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.middle-circle div:last-of-type {
    position: absolute;
    bottom: 10%;
    line-height: 3vh;
}

.left-text, .right-text {
    display: flex;
    flex-direction: row;
    text-align: justify;
    text-align-last: justify;
    text-align: left;
    text-justify: inter-character;
    line-height: 4vh;
}

.heartwrapper {
    animation:pulse 1s infinite;
}

.heart {
    height: 8vh;
    padding-top: 1vh;
}

@keyframes pulse {
	10% {transform: scale(1.1)}
}
