@import './Reusable.scss';

@mixin fontA {
    font-family: Sinhala MN;
    font-size: 0.8rem;
    color: black;
    letter-spacing: 0.4vw;
}

@mixin fontB {
    font-family: Nautica;
    font-size: 2rem;
    color: black;
}

.navmap {
    @include fontA;
    height: 92vh;
    width: 22vw; //25vw
    display: flex;
    list-style: none;
    flex-direction: column;
    
    background-color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 30;
    position: fixed;
    top: 5%;
    right: 0;
    /*border: 1.5px solid grey;*/
    border: 1px solid black;
}

.navmap a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.close {
    position: absolute;
    top: 2.5%;
    left: 5%;
    font-size: 2vh;
    z-index: 30;
    cursor: pointer;
}

.close:hover {
    color: grey;
}

.navmap-border {
    height: 100%;
    position: relative;
}

.navmap-border ul {
    @include transform(translateY(-50%));
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.navmap li {
    @include transform(translateY(-50%));
    padding: 3vh;
    transition: color 0.3s linear;
    height: 35%;
    width: 60%;
    margin: auto;
    border: 1.5px solid grey;
    outline: 1px solid grey;
    outline-offset: 1px;
    display: inline-block;
    position: relative;
    top: 50%;
    text-align: center;
    vertical-align: middle;
    display: table;
}

.navmap li:hover {
    opacity: 50%;
}

.navmap li p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    //transform: translateY(-10%);
}

.roof {
    @include transform(translateY(-10%));
}

.roof-angle {
    @include transform(rotate(-25deg) translateY(55%));
    display: inline-block;
    padding-right: 0.2rem;
}

.lid-angle {
    @include transform(rotate(25deg) translateY(80%));
    display: inline-block;
    padding-left: 0.2rem;
}

/*.navmap-border {
    border: 2.5px solid black;
    outline: 1.5px solid black;
    outline-offset: 2px;
    position: absolute;
    height: 90%;
    width: 82%;
    top: 2vw;
    right: 2vw;
    margin: auto;
    z-index: 20;
}*/