@mixin fontA {
    font-family: Arbotek Light, sans-serif;
    font-size: 10vw;
    font-weight: semi-bold;
    letter-spacing: 0.192vh;
}

@mixin fontB {
    font-family: Minion Pro, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9vh;
    letter-spacing: 0.192vh;
}

.line1a, .line1b {
    @include fontA;
}

.line1a span, .line1b span {
    font-size: 2vw;
    position: absolute;
    top: 50%;
}

.line1a span {
    right: -20%;
}

.line1b span {
    left: -20%;
}

.reject-container {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
        "back . . ."
        ". line1a line1b ."
        ". line2 line2 .";
    align-items: center;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
    //padding: 10%;
    //overflow: hidden;
    //margin: 10%;
}

.reject-container .backarrow {
    grid-area: back;
    position: absolute;
    left: 2vh;
    top: 5vh;
}

.reject-container .line1a {
    grid-area: line1a;
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 22%;
}

.reject-container .line1b {
    grid-area: line1b;
    text-align: left;
    position: absolute;
    bottom: 10%;
    left: 22%;
}

.reject-container .line2 {
    @include fontB;
    grid-area: line2;
    height: 50vh;
    width: 100vw;
}

/*.reject-container .line2 svg {
    width: 100vw;
    position: absolute;
    top: 90%;
    left: 0;
    transform: translateY(-50%);
}*/

.reject-container .line2 path {
    position: absolute;
    top: 0;
    left: 50%;
}