@import './Reusable.scss';

section {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.quote {
    @include transform(translate(-50%, -50%));
    @include Avenir;
    @include tracking(180);
    font-weight: lighter;
    width: 80%;
    font-size: 23pt;
    line-height: 1.07;
    position: absolute;
    top: 50%;
    left: 50%;
}

.scroll {
    @include transform(translate(-50%, -50%));
    @include Avenir;
    @include tracking(180);
    font-size: 20px;
    line-height: 1.6;
    position: absolute;
    top: 70%;
    left: 50%;
    cursor: pointer;
}

.scroll:hover {
    opacity: 50%;
}

.caret {
    @include transform(translateX(-50%));
    position: absolute;
    top: 100%;
    left: 50%;
    height: 3vh;
}

.list-container {

    .list-position-container {
        @include transform(translate(-50%, -50%));
        position: relative;
        top: 50%;
        left: 50%;
        height: 90%;
        width: 100%;
    }

    h1 {
        @include Avenir;
        @include tracking(180);
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        padding: 1rem;
        line-height: 1.33;
    }

    h2 {
        @include Avenir;
        @include tracking(180);
        font-weight: 500;
        font-style: italic;
        font-size: 24px;
        padding: 1rem;
        padding-top: 2rem;
        line-height: 1.33;
    }

    .list-row {
        position: relative;
        display: flex;
    }

    ul, li {
        @include Avenir;
        @include tracking(180);
        padding: 1.5rem;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.33;
        font-style: normal;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        opacity: 50%;
    }

    .border {
        height: 90%;
        border-right: solid 1.5px grey;
    }

    .list-column {
        flex: 50%;
    }

}