@function tracking( $target ){
    @return calc(($target / 1000)) * 1em;
}

$red-color: #da1f27;
$grey-color: grey;

@mixin tracking( $target ){
    letter-spacing: tracking( $target );
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($str, $time, $count, $timing) {
    -webkit-animation-name: #{$str};
    -moz-animation-name: #{$str};
    -ms-animation-name: #{$str};
    -o-animation-name: #{$str};
    animation-name: #{$str};
    -webkit-animation-duration: #{$time};
    -webkit-animation-iteration-count: #{$count};
    -webkit-animation-timing-function: #{$timing};   
}
  

@mixin Nautica {
    font-family: nautica, sans-serif;
    font-weight: 700;
    font-size: 4.6vw;
    letter-spacing: 0.06em;
    font-style: normal;
    color: rgb(69, 68, 68);
}

@mixin Sinhala {
    @include tracking(100);
    font-family: Sinhala MN, sans-serif;
    font-size: 0.9vw; //allows font zoom
    line-height: 1.85vh;
}

@mixin nameFont {
    font-family: "chantal", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.34vw;
    letter-spacing: 0.1em;
    line-height: 3vh;
}

@mixin ageFont {
    @include tracking(100);
    font-family: Sinhala MN, sans-serif;
    font-size: 1vw;
    line-height: 2vh;
}

@mixin instructionFont {
    @include tracking(100);
    font-family: Sinhala MN, sans-serif;
    //white-space: pre-line;
    font-size: 0.9vw;
    line-height: 1.85vh;
}

