@import './Reusable.scss';

.soft-interaction-container {
    height: 100%;
    width: 100%;
    position: relative;

    .content-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 60%;
        grid-template-areas: "left right" "left trash";
        grid-gap: 5%;

        position: absolute;
        @include transform(translate(-50%, -50%));
        top: 50% !important;
        left: 50% !important;
    }

    .bigBox, .smallBox {
        @include Sinhala;
        @include tracking(120);
        line-height: 2vh;
        font-weight: 600;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    .bigBox {
        @include transform(translateY(-50%));
        grid-area: left;
        width: 100%;
        aspect-ratio: 602/711;
        top: 50%;
        white-space: pre-line;
        //justify-content: center;
    }

    .box-container {
        @include transform(translate(-50%, -50%));
        position: relative;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
    }

    .box-container-small {
        @include transform(translate(-50%, -50%));
        position: relative;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        width: 83%;
        white-space: pre-line;
    }

    .smallBox {
        grid-area: right;
        width: 90%;
        aspect-ratio: 599/736;
    }

    .trash {
        @include transform(translate(-50%, -50%));
        top: 30%;
        left: 45%;
        grid-area: trash;
        background-color: black;
        height: 120px;
        width: 120px;
        border-radius: 50%;

        position: relative;
    }

    .word {
        display: inline;
    }

    .word-parts, .space {
        display: inline;
    }

    .word-parts:hover {
        color: red;
        cursor: pointer;
    }

    .nohover {
        pointer-events: none;
    }

    .line {
        text-align: center;
        line-height: 1.06;
    }

    .trash .icon {
        @include transform(translate(-50%, -50%));
        top: 50%;
        left: 50%;
        position: absolute;
        color: white;
        height: 5vh;
    }

    /*.end {
        position: absolute;
        top: 95%;
        right: 30%;
    }*/

    /* (A) FIXED WRAPPER */
    .ticker-wrap {
        @include nameFont;
        @include transform(translate(-50%));
        position: absolute;
        top: 99%;
        left: 23%;
        width: 100vw;
        overflow: hidden; /* HIDE SCROLL BAR */
        background: black;
        color: white;
        font-weight: bolder;
        font-size: 1.5rem
    }
    
    /* (B) MOVING TICKER WRAPPER */
    .ticker { display: flex; }
    
    /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
    .end {
        flex-shrink: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: start;
    }
    
    /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
    /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
    @keyframes tickerh {
        0% { transform: translate3d(100%, 0, 0); }
        100% { transform: translate3d(-100%, 0, 0); }
    }
    .ticker { animation: tickerh linear 45s infinite; }
    .ticker:hover { animation-play-state: paused; }


}