@import './Reusable.scss';

@mixin fontA {
    @include Sinhala;
    font-size: 0.9rem;
    font-weight: semi-bold;
    letter-spacing: 1.92px;
}

.spotlight-image, .splash {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.splash .rectangle {
    @include transform(translate(-50%, -50%) rotate(45deg));
    background-color: black;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.splash .enter {
    @include nameFont;
    @include transform(translate(-50%, -50%));
    font-size: 1.2vw;
    top: 70vh;
    right: 8vw;
    background-color: black;
    width: 65px;
    height: 100px;
    position: absolute;
    z-index: 14;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.splash .enter{
    //display: transparent;
    text-decoration: none;
    color: black;
}

.splash .enter:hover { //check .enter span is correct syntax
    //display: inline-block;
    color: white;
}

.splash {
    text-align: center;
    //background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: none;
}

.splash .mouse {
    position: absolute;
    background-image: radial-gradient(circle, transparent 100px, black 100px);
    height: 100%;
    width: 100%;
    z-index: 10;
}

.splash img {
    position: absolute;
    top: 0;
    left: 0;
}

