@import './Reusable.scss';

@mixin cardFont {
    @include Sinhala;
}

.wafer-interaction-container {
    height: 90vh;
    width: 90vw;
    //position: absolute;
    overflow: hidden;

    .instructionBox {
        left: 0;

        .dialogue {
            color: white;
            max-height: 25vh;
            padding: 2vh;
            padding-left: 5vw;
            padding-right: 5vw;
            aspect-ratio: 753 / 457;
            text-align:center; 
            vertical-align: middle;
            display: table-cell;  
        }
    }

    .right-section {
        @include cardFont;
        @include transform(translate(-20%, -50%));
        white-space: pre-line;
        position: absolute;
        width: 85vh;
        height: auto;
        //max-height: 90vh;
        top: 50%;
        right: 0;

        aspect-ratio: 1/1 !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
    }

    .grid-slot {
        position: relative;
        transition: opacity 1.3s ease-out;
    }

    .white {
        background-color: white;
        position: absolute;
        border: dashed 1px grey;
        cursor: pointer;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: opacity 1s ease-in;
    }

    .white-dialogue {
        @include transform(translate(-50%, -50%));
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
    }

    #grid-0 {
        grid-area: one;
    }

    #grid-1 {
        grid-area: two;
    }

    .black-grid {
        height: 100%;
        width: 100%;
        position: absolute;
        color: white;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
    }

    .black {
        background-color: black;
        position: relative;
        border: solid 0.1px white;
        cursor: pointer;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .black-dialogue {
        @include transform(translate(-50%, -50%));
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        color: white;
    }

    .tape-layer {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 18vh;
        position: relative;
        //tape image aspect ratio - might need to be changed
        aspect-ratio: 753 / 457;
    }

    .tape-dialogue {
        @include transform(translate(-50%, -50%));
        color: black;
        position: absolute;
        left: 50%;
        top: 60%;
        width: 90%;
    }

    #tape-1 {
        @include transform(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 40%;
    }

    #tape-2 {
        position: absolute;
        right: 0;
        bottom: 5%;
    }

}