@mixin cardFont {
    font-family: Sinhala MN, sans-serif;
    font-size: 0.9vw;
    line-height: 1.5vh;
    letter-spacing: 0.1em;
    color: black;
}

.wafer-interaction-container {
    height: 100vh;
    width: 100vw;
    //position: absolute;
    overflow: hidden;

    .right-section {
        @include cardFont;
        white-space: pre-line;
        position: absolute;
        width: 57vw;
        height: 100vh;
        right: 5vw;
        max-height: 90vh;
        top: 50%;
        transform: translateY(-50%);

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
    }

    .grid-slot {
        position: relative;
        transition: opacity 1.3s ease-out;
    }

    .white {
        background-color: white;
        position: absolute;
        border: dashed 1px grey;
        cursor: pointer;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: opacity 1s ease-in;
    }

    .white-dialogue {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
    }

    #grid-0 {
        grid-area: one;
    }

    #grid-1 {
        grid-area: two;
    }

    .black-grid {
        height: 100%;
        width: 100%;
        position: absolute;
        color: white;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
    }

    .black {
        background-color: black;
        position: relative;
        border: solid 0.1px white;
        cursor: pointer;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

    .black-dialogue {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        color: white;
    }

    /*.wafer-grid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "one two three"
            "four five six"
            "seven eight nine"
            "ten eleven twelve";
    }*/

    .tape-layer {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 18vh;
        position: relative;
        //tape image aspect ratio - might need to be changed
        aspect-ratio: 753 / 457;
    }

    .tape-dialogue {
        color: white;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    #tape-1 {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    #tape-2 {
        position: absolute;
        right: 0;
        bottom: 5%;
        //transform: translate(-50%, -50%);
    }

}