@import './Reusable.scss';

@mixin wrapperFontA {
    font-family: nautica, sans-serif;
    font-weight: 700;
    font-size: 4.5vw;
    letter-spacing: 0.06em;
    font-style: normal;
}

@mixin wrapperFontB {
    font-family: Minion Pro, serif;
    font-weight: semi-bold;
    font-style: italic;
    letter-spacing: 0.12em;
    font-size: 1.1vw;
    line-height: 2.5vh;
}

#roof .cookie-map-container{
    background-image: url('../img/house/Wrapper_Plain.png');
    background-size: cover;
    /*height: 100vh;
    width: 100%;*/
    /*overflow-x: hidden;*/
    z-index: 10;
    
}

#wrapper-grid.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: inherit;
    grid-template-columns: 25% 25% 25% 20%;
    grid-template-rows: 33% 21%;
    grid-template-areas:
        ". title title . ."
        "line line line line ."
        "titlec titlec info info backarrow";
}

#wrapper-grid {

    .wrapper-down {
        grid-area: backarrow;
    }

    .titlea {
        grid-area: title;
        position: relative;
        top: 55%;
        text-align: start;
        padding-left: 7%;
    }

    .titleb {
        grid-area: title;
        position: relative;
        top: 75%;
        padding-right: 6%;
        text-align: end;
    }

    .line2 {
        grid-area: line;
        position: relative;
        top: 42%;
        text-align: start;
        left: 12.5%;
    }

    .line3 {
        grid-area: line;
        position: relative;
        top: 70%;
        left: -5%;
    }

    .line4 {
        grid-area: info;
        position: relative;
        text-align: right;
        right: 17%;
    }

    .titlea, .titleb, .titlec {
        @include wrapperFontA;
    }

    .line2, .line3, .line4 {
        @include wrapperFontB;
        font-weight: bold;
    }

    .titlec {
        grid-area: titlec;
        position: relative;
        font-size: 2.5em !important;
        top: 18%;  
        left: 5%;
    }
}