* {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*width: 100vw;
    max-width: 100vw;*/
    overflow: hidden;
}

/*.splash {
    cursor: none;
    overflow: hidden;
    background-color: black;
    color: white;
    text-align: center;
}

.mouse {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.splash, .mouse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.mouse {
    position: absolute;
    clip-path: circle(75px at 0, 0);
    transform: translateZ(0);
}*/