@mixin nameFont {
    font-family: Chantal;
    font-weight: light;
    font-size: 3vh;
    letter-spacing: 0.1em;
    line-height: 2vh;
}

*, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*width: 100vw;
    max-width: 100vw;*/
    overflow: hidden;
}

body {
    overflow: hidden;
    min-height: 100vh;
}

.page-warning {
    @include nameFont;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}